<h3>Contents</h3>

<div>

    Chap 1. PyRFS Basics
    <ul style="list-style: none;">
        <li><a href="/pyrfs/chap1.1">1. Benefits of PyRFS</a></li>
        <li><a href="/pyrfs/chap1.2">2. How to use MQA PyRFS</a></li>
        <li><a href="/pyrfs/chap1.3">3. Get started</a></li>
    </ul>

    Chap 2. <a href="/pyrfs/chap2">Examples</a>
    <ul style="list-style: none;">

        <li><a href="/pyrfs/chap2.a1">1. Idsat Table</a></li>
        <li><a href="/pyrfs/chap2.a2">2. Idsat Table | T</a></li>
        <li><a href="/pyrfs/chap2.a3">3. Condition Target List</a></li>
        <li><a href="/pyrfs/chap2.a4">4. gm Table | Vbs</a></li>
        <li><a href="/pyrfs/chap2.b1">5. gm Table | T=25</a></li>
        <li><a href="/pyrfs/chap2.b2">6. gm Table | Sort Vbs</a></li>
        <li><a href="/pyrfs/chap2.b3">7. gm Table | Vbs label</a></li>
        <li><a href="/pyrfs/chap2.b4">8. Idsat Table | merge W L</a></li>
        <li><a href="/pyrfs/chap2.b5">9. Sid/Id^2 | Formula</a></li>

    </ul>


</div>

<br/><br/><br/><br/><br/>
<br/><br/><br/><br/><br/>
