{% extends "layouts/mf.html" %}

{% block title %}
MBP App Notes
{% endblock %}

{% block content %}

<div class="container">
    <h3>MBP Application Notes</h3>
    <hr>
    <div overflow="scroll">


        <h4><a href="/mbpst" target="_blank">MBP Script Tutorial</a></h4>
        <ul>
            <table>
                <tr style="border-bottom: 1px solid gainsboro">
                    <td style="width:750px">
                        <a href="/mbpst/chap1.1" target="_blank">1. MBP Script Basics</a></td>
                </tr>
                <tr style="border-bottom: 1px solid gainsboro">
                    <td style="width:750px">
                        <a href="/mbpst/chap2.1.1" target="_blank">2. IMV/DP/Flow/GUI</a></td>
                </tr>
                <tr style="border-bottom: 1px solid gainsboro">
                    <td style="width:750px">
                        <a href="/mbpst/chap3.1" target="_blank">3. More Examples</a></td>
                </tr>
                <tr style="border-bottom: 1px solid gainsboro">
                    <td style="width:750px">
                        <a href="/mbpst/chap4.1" target="_blank">4. Debugging</a></td>
                </tr>
                <tr style="border-bottom: 1px solid gainsboro">
                    <td style="width:750px">
                        <a href="/mbpst/chap5.1" target="_blank">5. Appendix/APIs</a></td>
                </tr>


            </table>
        </ul>
        <br/>

        <h4><a href="/mbpfaq" target="_blank">MBP FAQs</a></h4>
        <hr/>
        <h4><a href="/video/MBP_recentering" target="_blank">Video Tutorials</a></h4>
        <hr/>


        <br>
        <br>

        <br>

        <br>
        <br>
        <br>

        <br> <br>
        <br>

        <br>

        <br>
        <br>
        <br>

        <br>


        <br>

    </div>

</div>
{% endblock %}