{% extends "layouts/mf.html" %}

{% block title %}
MBP App Notes
{% endblock %}

{% block content %}

<div class="container">
    <h3>MBP Application Notes</h3>
    <hr>
    <div overflow="scroll">

        <ul>
            <h4><a href="/mbpst" target="_blank">MBP Script Tutorial</a></h4>
            <hr/>
            <h4><a href="/mbpfaq" target="_blank">MBP FAQs</a></h4>
            <hr/>
            <h4><a href="/video/MBP_recentering" target="_blank">Video Tutorials</a></h4>
            <hr/>




        </ul>

        <br>
        <br>

        <br>

        <br>
        <br>
        <br>

        <br> <br>
        <br>

        <br>

        <br>
        <br>
        <br>

        <br>


        <br>

    </div>

</div>
{% endblock %}