{% extends "faq/faq_index.html" %}
{% block faqmain %}

<h2>Change default mb_set directory location</h2>
<h3>MBP FAQ</h3>
<hr>
When MBP starts, it will create a few run-time configurations or setting files under $HOME/mb_set directory.<br/>
For example, mine is C:\Users\shuancai\mb_set, as shown below.

<br/><br/>
<img src="/static/faq/mbp/mbsetpath/2.png"/><br/><br/>

This directory will be automatically created the first time we start MBP, if it doesn't exist. <br/><br/>
<em>Note: on Linux, it will be a hidden directory, namely $HOME/.mb_set.</em><br/><br/>

And, there is one option called
<mark>MBSETPATH
</mark> that allows us to change this directory to a user specified location. This option needs to be added to the $MBPHOME/mbp.bat wrapper file. As highlighted below.
<br/>

<img src="/static/faq/mbp/mbsetpath/1.png"/><br/><br/>

For example, here I set it to “C:\Users\shuancai\tmp”, an arbitrary path user specified.<br/>
To pass in a variable to the Java program, we need the “-D” keyword to assign it, as follows:

<br/>
<ul>
    <mark>-DMBSETPATH="C:\Users\shuancai\tmp"</mark>
</ul>
<br/>
Once this change is saved, re-start MBP, we will start to see all the run-time files get saved under C:\Users\shuancai\tmp.


<br/>
<hr/>
For Linux users, we modify the same $MBPHOME/mbp start-up wrapper file, and it’s recommended to specify it to a local environment variable, for example:
<br/>
<ul>
    <em>-DMBSETPATH=$MBSETPATH</em><br/>
</ul>
<img src="/static/faq/mbp/mbsetpath/3.png"/><br/><br/>

This way, each Linux user gets a chance to specify his/her own local directory to avoid global conflict.<br/>
For example, if it’s bash environment, do:<br/>
<ul>
    export MBSETPATH=/home/user/desired_path
</ul>
<br/>
If it’s csh or tcsh, do:<br/>
<ul>setenv MBSETPATH /home/user/desired_path</ul>
<br/>
Then, re-start MBP from the same bash or csh environment (terminal window).
<br/><br/>
Thanks!


<br/><br/>


<br/>
<br/>
<br/>


{% endblock %}

