{% extends "iccap/iccap_index.html" %}
{% block iccapmain %}


<h3>COPY-PASTE PROGRAMMING EXAMPLES</h3>
<h4>Accessing UI Fields and Data Values</h4>

<mark>by Franz Sischka, <a href="http://www.franz-sischka.de/" target="_blank">www.SisConsult.de</a></mark>
<hr>
An IC-CAP Program can read, set or modify any setting in an IC-CAP ModelFile project.<br/>
However, the syntax is not so easy, for example:

<br><img src="/static/iccap/Programming/152/1.png"><br/><br/>

In order to make your programming life easier, the following ModelFile provides  a lot of best-practice examples, ready for copy-paste into your own ModelFile project.

<br><img src="/static/iccap/Programming/152/2.png"><br/><br/>

IC-CAP Example File:    <a href="/iccap/prog_2_1/download" target="_blank">Access_UI_Fields_and_Data_Values.mdl</a>
<br/><br/>
To not overload the above example file, the special case of interfacing the IC-CAP Program with Plot Settings is covered by another example file:

<br><img src="/static/iccap/Programming/152/3.png"><br/><br/>

IC-CAP Example File:     <a href="/iccap/prog_2_2/download" target="_blank">Interfacing_Plots_and_PEL.mdl</a>

<br/><br/>

Thanks!
<br/><br/><br/><br/>
<br/><br/>
{% endblock %}