{% extends "iccap/iccap_index.html" %}
{% block iccapmain %}


<h3>COPY-PASTE PROGRAMMING EXAMPLES</h3>
<h4>Foreword</h4>

<mark>by Franz Sischka, <a href="http://www.franz-sischka.de/" target="_blank">www.SisConsult.de</a></mark>
<hr>
IC-CAP is an open software which enables the user to implement his own device modeling ideas with basically no restrictions.
<br/><br/>
This is due to the fundamental concept of IC-CAP, that, from the very beginning with version 1.0,
<ul>
    <li><font color="red">Complex numbers</font> are supported required to handle impedance simulations, S-parameters
        etc.
    </li>
    <li>As well as data sets of complex numbers S-Parameters as function of frequency and bias.</li>
    <li><font color="blue">Matrix operations</font> are supported e.g. inversion of ABC-Matrices for de-embedding.</li>
    <li>And, the handling of data sets is very simple e.g. gm = DERIVATIVE(vd, id, 1)</li>
</ul>
<br/>
However, writing the corresponding program code is not always intuitive.
<br/><br/>
Therefore, to make the user's life easier, this chapter of the IC-CAP Blog features a collection of the most important
<u><font size="4">copy-paste examples</font></u> .


<br/><br/><br/><br/>
<br/><br/>
{% endblock %}