{% extends "iccap/iccap_index.html" %}
{% block iccapmain %}


<h3>NWA Calibration</h3>
<h4>Video - NWA Calibration Demo</h4>


<mark>by Franz Sischka, <a href="http://www.franz-sischka.de/" target="_blank">www.SisConsult.de</a></mark>
<hr>


Please watch a 3-minute video demo for how to perform NWA Cal in ICCAP. <br/>
The demo ICCAP .mdl file used in the example can be downloaded here:
<ul>
    <li><a href="/iccap/nwacal1/download" target="_blank">CAL_VERIFY_2port__GSG.mdl</a></li>
    <li><a href="/iccap/nwacal2/download" target="_blank">UTILITIES.mdl</a></li>
</ul>

The demo data files can be downloaded <a href="/iccap/nwacal3/download" target="_blank">here as a .zip file</a>, after unzip we shall see the following files:
<ul>
    <li>_CalKitData.txt</li>
    <li>LOAD.mdm</li>
    <li>OPEN.mdm</li>
    <li>SHORT.mdm</li>
    <li>THRU.mdm</li>
</ul>

<iframe width="560" height="315" src="https://www.youtube.com/embed/xOGDRdsVGjs?rel=0" frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

<br/><br/>


<br/><br/><br/><br/>
<br/><br/>
{% endblock %}