{% extends "faq/faq_index.html" %}
{% block faqmain %}

{% if slist.__len__()>0 %}

<div style="height: 1000px; overflow:auto">

    {% for item in slist:%}
    <h4><a href="{{item.route}}">{{item.title}}</a></h4>
    <h5><u>Keywords</u>: {{item.abs}}</h5>
    <h5><u>Category</u>:
        {% if func(item.category).startswith('MBP')  %}
        <font style="background-color:#800000; color:#FFFFFF">{{ func(item.category) }}</font>
        {% elif func(item.category).startswith('MQA')  %}
        <font style="background-color:#008000; color:#FFFFFF">{{ func(item.category) }}</font>

        {% elif func(item.category).startswith('ICCAP')  %}
        <font style="background-color:#2BD4CA; color:#FFFFFF">{{ func(item.category) }}</font>
        {% else %}
            {{ func(item.category) }}
        {% endif %}</h5>
    {% if item.content.__len__()>110 %}
    {{item.content[:100]}}...
    {% else %}
    {{item.content}}
    {% endif %}
    <br/><br/>
    {% endfor %}
    {% else %}
    <h3>No posts yet!</I></h3>
    <br/><br/><br/>
    {% endif %}

</div>

<br>
<br>
<br>
<br>


{% endblock %}