{% extends "faq/faq_index.html" %}
{% block faqmain %}

<h2>Link ICCAP to PSpice Simulator</h2>
<h3>ICCAP FAQ</h3>
<hr>


This note explains how to link ICCAP to PSpice Simulator.
<br/><br/>

Note: It's recommended to read the <a href="/iccapfaq/link2ext" target="_blank">Link ICCAP to External Simulators in
    General</a> firstly, including troubleshooting tips.<br/><br/>

<p>Use the <a
        href="https://www.orcad.com/resources/download-orcad-lite" target="_blank">Download
    Link</a> for OrCAD PCB Designer Lite, which is the free version.</p>
<p>In <em>$ICCAP_ROOT/iccap/lib/usersimulators</em> look for line for pspice alias, and edit to look like the
    following.</p>
<pre><code># pspice  pspice   $CDSROOT\tools\pspice\psp_cmd.exe   &quot;&quot;   CANNOT_PIPE
pspice pspice C:\Cadence\SPB_17.2\tools\bin\psp_cmd.exe   &quot;&quot;   CANNOT_PIPE
</code></pre>
<p>Then restart ICCAP.</p>
<h4>Verification of simulation link to PSpice</h4>
<ol>
    <li>
        <p>load the following *.mdl file:<br/>
            …/Examples/model_files/mosfet/nmos3.mdl</p>
    </li>
    <li>
        <p>In the model Variables, add SIMULATOR = pspice</p>
        <p><img src="/static/faq/iccap/link2ltspice/pspice.png" alt="Image"/></p>
    </li>
    <li>
        <p>Go to the /large/idvg/ setup, do Clear -&gt; Simulated so that any previously saved simulatioin will be
            gone.</p>
        <p><img src="/static/faq/iccap/link2ltspice/clear_sim.png" alt="Image"/></p>
    </li>
    <li>
        <p>Simulate.</p>
        <p><img src="/static/faq/iccap/link2ltspice/simulate.png" alt="Image"/></p>
    </li>
    <li>
        <p>Open the /large/idvg/idvsvg plot, confirm that the simulated data appears.</p>
        <p><img src="/static/faq/iccap/link2ltspice/ltspice_plot.png" alt="Image"/></p>
        <p><em>Note: the simulation data are solid lines on the plot.</em></p>
    </li>
</ol>
<br/>
<p>Thanks!</p>

<br/>
<br/>
<br/>
<br/>
<br/>


{% endblock %}
