{% extends "iccap/iccap_index.html" %}
{% block iccapmain %}


<h3>Spice Interpretation of S-Parameters</h3>
<h4>YouTube Videos</h4>

<mark>by Franz Sischka, <a href="http://www.franz-sischka.de/" target="_blank">www.SisConsult.de</a></mark>
<hr>

Here is a recap of YouTube videos related to this topic:
<br/><br/>
<li>
    How to Accurately Measure and Validate S-Parameters for Transistor Modeling
</li>
<iframe width="560" height="315" src="https://www.youtube.com/embed/f1T2-AY39C4?rel=0" frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<br/><br/><br/>
<li>How to Model RF Passive Devices: Capacitors and Resistors</li>
<iframe width="560" height="315" src="https://www.youtube.com/embed/fwD_82dzsx8?rel=0" frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<br/><br/><br/>
<li>How to Model RF Passive Devices: Spiral Inductors</li>
<iframe width="560" height="315" src="https://www.youtube.com/embed/VY1xJORo1T0?rel=0" frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<br/><br/><br/><br/>
<br/><br/>
{% endblock %}