{% extends "mbpst/mbpst_index.html" %}
{% block mbpstmain %}


	<h2>Synchronize SA and SB on Plot</h2>
	<hr>
	The demo shows cases where we need to synchronize device instance parameters, for example, when we
	deal with devices with SA, SB as additional instance parameters, often SA and SB have the same
	length for each DUT on wafer, so that we need to view SA_SB scaling IMV plots with SA and SB
	synchronized.
	<br>
	<br> Example MBP Script .zip file can be found at
	<b><i>ScriptZipFiles/09_IMV_SASB_Synch.zip</i></b>
	<br>Also, please use the example measurement data and model files located under
	<b><i>Chap3/ExampleFiles/3.7/</i></b> to reproduce this demo.
	<br>
	<br> When the data is loaded, we shall see SA and SB are shown on the device table, we have 3
	different W/L with 3 sets of SA and SB values.
	<br>
	<img src="/static/mbpst/Chap3/images/3.7/1.png">
	<br>

	<br> Please open MBP Script Window, let's begin with the default Idsat, we see it has an
	Idsat_L plot already.

	<br>
	<img src="/static/mbpst/Chap3/images/3.7/2.png">
	<br> If we do a "Show Data Table" on Idsat, we shall see the table contains SA and SB.
	<br>
	<img src="/static/mbpst/Chap3/images/3.7/4.png">
	<br>
	<br> And let's go ahead to create a new Idsat_SAB plot. From Idsat, right-click, and
	New->Graph.
	<br>
	<img src="/static/mbpst/Chap3/images/3.7/3.png">
	<br>
	<br> Set SA to Axis[x], and Idsat to Axis[y], as shown below.
	<br>
	<img src="/static/mbpst/Chap3/images/3.7/5.png">
	<br> Then "View" the plots; however, we see that SB is observed as an independent variable in
	the condition table, and there is only one dot on the plot, which indicated SA and SB are not
	synchronized on the plot and it is not what we wanted. As shown below.
	<br>
	<img src="/static/mbpst/Chap3/images/3.7/6.png">
	<br>
	<br> In order to achieve the Synchronization, we need to switch to
	<b>XY Graph</b> type.
	<br>
	<img src="/static/mbpst/Chap3/images/3.7/7.png">
	<br>
	<br> Now, let's put
	<b>SA;SB</b> in the
	<b>Sweep1:</b> field, and give
	<b>Lable[X]</b> SA_SB.
	<br>
	<img src="/static/mbpst/Chap3/images/3.7/8.png">
	<br>
	<br> The
	<b>Sweep1</b> is really the key to tell MBP to synch SA and SB on the plot, whereas Label[x] is
	just for customized X label display.
	<br> Now we got Idsat_SAB plot correctly, SB is on longer an independent variable in the
	condition table.
	<br>
	<img src="/static/mbpst/Chap3/images/3.7/9.png">
	<br>
	<br>
	<br>
	<br>
{% endblock %}