{% extends "mbpst/mbpst_index.html" %}
{% block mbpstmain %}

	<h2>Call Function from Another Script File</h2>
	<hr>
	When comes to programming, it's common sense that we organize user defined functions in one place,
	and call them from other occasions so that one function or method is just defined once, and can be
	edited easily when needed.
	<br> in MBP, we can create an empty
	<b>File</b> under either tree node, be it the
	<b>imv</b>,
	<b>dp</b>,
	<b>flow</b>, or
	<b>prog</b>.
	<br>

	<br> This example Script .zip file can be found at <a href="/scriptZip/14_FuncCall/download" target="_blank">
	<b><i>ScriptZipFiles/14_FuncCall.zip</i></b></a>
	<br>

	<br>Here we New -> File under
	<b>prog</b>, call it "funcs".
	<br>
	<img src="/static/mbpst/Chap3/images/3.12/7.png" border="1px">
	<br> In this "funcs" File, we create two methods:
	<ul>
		<li><b>resetParameterboundary</b> which reset a parameter's lower and upper boundary
			according to its current value. No return.</li>
		<li><b>getStepRatio</b> which returns the ratio of a parameter's step over value.</li>
	</ul>
	<img src="/static/mbpst/Chap3/images/3.15/1.png" border="1px">
	<br>
	<br> Now, when comes to the IMV target "myData", we could access these methods in this
	fashion:
	<b>prog.FileName::MethodName(Argument)</b>, note, a double-colon operator is used to invoke a
	method, as shown below:
	<br>
	<img src="/static/mbpst/Chap3/images/3.15/2.png" border="1px">
	<br>
	<br>Here, it shows how these 2 methods are called, with or without a return value.
	<br>
	<img src="/static/mbpst/Chap3/images/3.15/3.png" border="1px">
	<br>
	<br>Of course, we could New->File under IMV, let's call the File "func2".
	<br>
	<img src="/static/mbpst/Chap3/images/3.15/4.png" border="1px">
	<br> Where we create a method called "callme".
	<br>
	<img src="/static/mbpst/Chap3/images/3.15/6.png" border="1px">
	<br>
	<br> Then, comes to the IMV "myData" again, we could access the method by
	<b>imv.imv.func2::callme()</b>, it follows the same fashion as
	<b>imv.imv.FileName::MethodName(Argument)</b>.
	<br>
	<img src="/static/mbpst/Chap3/images/3.15/5.png" border="1px">
	<br>
	<br>
	<br>
	<br>
	<br> Here is the code for copy-paste:
	<pre class="code">
//reset Parameter boundary
void resetParameterboundary(String pName){
	
	Param p=MBP.getParam(pName);
	double v=p.getValue();
	p.setBoundary(v/2,v*1.5);
	
}

//get the step/value ratio of a Parameter
double getStepRatio(String pName){
	
	Param p=MBP.getParam(pName);
	double step=p.getStep();
	double v=p.getValue();
	
	if(v!=0){
		return step/v;
	}else{
		
		return 0;
	}
	
}

</pre>

{% endblock %}