{% extends "pyrfs/pyrfs_index.html" %}
{{ super() }}
{% block pyrfsmain %}
<h2>Examples</h2>
<hr>
<div overflow="scroll">
    Here are a few examples to help us take the most use of PyRFS, it’s recommended to read them from top to bottom.
    <br/>The
    first example will demonstrate a complete flow, and the rest examples can go in any order.
    <br/>
    <br/>

    <h4>Beginner</h4>
    <ul>
        <table>
            <tr>
                <td style="width:250px">
                    <a href="/pyrfs/chap2.a1" target="_blank">Idsat Table</a></td>
                <td style="width:400px">Demonstrate a complete flow</td>
            </tr>
            <tr>
                <td>
                    <a href="/pyrfs/chap2.a2" target="_blank">Idsat Table | T</a>
                </td>
                <td>Transpose output per different Temperature</td>
            </tr>
            <tr>
                <td>
                    <a href="/pyrfs/chap2.a3" target="_blank">Condition Target List</a></td>
                </td>
                <td>List out all available condition and target names</td>
            </tr>
            <tr>
                <td>
                    <a href="/pyrfs/chap2.a4" target="_blank">gm Table | Vbs</a></td>
                </td>
                <td>Another example to create a Gm table</td>
            </tr>
        </table>

    </ul>
    <h4>Intermediate</h4>
    <ul>
        <table>
            <tr>
                <td style="width:250px">
                    <a href="/pyrfs/chap2.b1" target="_blank">gm Table | T = 25</a></td>
                <td style="width:400px">Filter data by T = 25</td>

            </tr>
            <tr>
                <td>
                    <a href="/pyrfs/chap2.b2" target="_blank">gm Table | Sort Vbs</a></td>
                <td>Sort conditions, inc or dec</td>

            </tr>
            <tr>
                <td>
                    <a href="/pyrfs/chap2.b3" target="_blank">gm Table | customize Vbs label</a></td>
                <td>Customize condition label</td>

            </tr>
            <tr>
                <td>
                    <a href="/pyrfs/chap2.b4" target="_blank">Idsat Table | merge W L</a></td>
                <td>Merge multi variables in one column</td>

            </tr>

            <tr>
                <td>
                    <a href="/pyrfs/chap2.b5" target="_blank">Sid/Id^2 Table</a></td>
                <td>Calculate Sid/Id^2 for 1/f noise data analysis</td>

            </tr>

            <tr>
                <td>
                    <a href="/pyrfs/chap2.b6" target="_blank">Sid/Id^2 | Update Existing Template</a></td>
                <td>Update Existing Excel file with new QA results.</td>

            </tr>
            <tr>
                <td>
                    <a href="/pyrfs/chap2.b7" target="_blank">Hide Columns</a></td>
                <td>Hide specified columns in the final table.</td>

            </tr>


        </table>

    </ul>
    <h4>Advanced</h4>
    <ul>
        <table>
            <tr>
                <td style="width:250px">
                    <a href="/pyrfs/chap2.c1" target="_blank">Multi-Tables</a></td>
                <td style="width:400px">Split into multiple sub tables in a sheet.</td>

            </tr>
            <tr>
                <td style="width:250px">
                    <a href="/pyrfs/chap2.c2" target="_blank">Multi-Sheets</a></td>
                <td style="width:400px">Split tables into multiple sheets of an Excel file.</td>
            </tr>


        </table>

    </ul>
    <h4>Miscellaneous</h4>
    <ul>
        <table>
            <tr>
                <td style="width:250px">
                    <a href="/pyrfs/chap2.d1" target="_blank">Scientific Notation</a></td>
                <td style="width:400px">Format numbers in scientific notation.</td>

            </tr>
            <tr>
                <td style="width:250px">
                    <a href="/pyrfs/chap2.d2" target="_blank">Conditions Unit Control</a></td>
                <td style="width:400px">Control each condition(W, L, T, etc)'s unit separately.</td>

            </tr>


        </table>

    </ul>
    <!--<ul>-->
    <!--<a href="/pyrfs/chap2.b1" target="_blank">Vth Table | filter by W/L/T</a><br/>-->
    <!--<a href="/pyrfs/chap2.b2" target="_blank">Vth Table | sort by Vds </a><br/>-->
    <!--<a href="/pyrfs/chap2.b3" target="_blank">Vth Table | combine W/L</a><br/>-->
    <!--<a href="/pyrfs/chap2.b4" target="_blank">Vth Table | customize label</a><br/>-->
    <!--</ul>-->
    <!--<h4>Advanced</h4>-->
    <!--<ul>-->
    <!--<a href="/pyrfs/chap2.c1" target="_blank">add additional data to table</a><br/>-->
    <!--<a href="/pyrfs/chap2.c2" target="_blank">combine two projects into one table</a><br/>-->
    <!--<a href="/pyrfs/chap2.c3" target="_blank">update existing xlsx file</a><br/>-->
    <!--</ul>-->

    <br>
    <br>

    <br>

    <br>

</div>
{% endblock %}