{% extends "pyrfs/pyrfs_index.html" %}
{{ super() }}
{% block pyrfsmain %}
<h2>Get Started</h2>
<hr>
<div overflow="scroll">

    To get started, we need to be able to run the Python code that integrates PyRFS.<br/><br/>

    As explained <a href="/mqafaq/addPyrfs" target="_blank">HERE</a>, one needs to add $MQAHOME/kedrfs/python
    directory to PYTHONPATH, as shown below:
    <br/>
    <img src="/static/pyrfs/chap01/1.3_getStarted/1.png"><br/><br/>

    Once we can import <font style="color:red">pyrfs</font> module successfully in our Python environment, we can go
    ahead to exercise all the examples
    listed in next Chapter.<br/><br/>
    Personally, I’d like to use PyCharm, <a href="https://www.jetbrains.com/pycharm/" target="_blank">the JetBrains™
    PyCharm Community Edition </a> is free to use, and provides all kinds
    of powerful assistance to help us write Python code.<br/><br/>

    To enable PyRFS in PyCharm, make sure we do the following:<br/><br/>
    1. Add the “python.exe” from $MQAHOME/tools/python, which is 2.7.10 version, into the Project’s Interpreter
    list.<br/><br/>


    <img src="/static/pyrfs/chap01/1.3_getStarted/2.png"><br/><br/>

    2. Click on the gear icon on the far right, and click on "More...", as shown below. <br/>
    <img src="/static/pyrfs/chap01/1.3_getStarted/5.png"><br/><br/>

    3. Highlight the one 2.7.10 from MQA, and click the last icon on the vertical bar to the right, it allows us to
    manage the Interpreter Paths.<br/>
    <img src="/static/pyrfs/chap01/1.3_getStarted/6.png"><br/><br/>

    4. Add the $MQAHOME/kefrfs/python directory to the Interpreter Paths list.<br/><br/>

    <img src="/static/pyrfs/chap01/1.3_getStarted/3.png"><br/><br/>

    Now, we shall be able to import “pyrfs” and Run/Debug our Python code, as shown below.<br/><br/>
    <img src="/static/pyrfs/chap01/1.3_getStarted/4.png"><br/><br/>
    Quickly, check out those amazing examples in Chapter 2!


    <br>
    <br>

    <br>

    <br>

</div>
{% endblock %}