{% extends "video/video_index.html" %}
{% block videomain %}

<h2>ICCAP Demo</h2>

<h3>How to Simplify Device Model Extraction using an Open Source User Interface</h3>
<hr>
<mark>by Franz Sischka, <a href="http://www.franz-sischka.de/" target="_blank">www.SisConsult.de</a></mark><br/><br/>

This video shows an example of an IC-CAP custom user interface (UI) for device modeling. In the selected modeling application, the DC modeling of a Zener diode is intentionally kept simple in order to demonstrate the features of the UI.
<br/><br/>

The key advantages are:
<ul>

    - fit parameters of any kind of model, for any kind of measurement data, with a minimum of mouse clicks<br/>
    - support a dynamically enhanced modeling netlist, following the evolution of the modeling process<br/>
    - within a modeling step, provide a graphical history of parameter values<br/>
    - save the state of the current modeling step for later comparison with alternate modeling sequences<br/>
    - show the evolution of the modeling from the very beginning to the final modeling fit <br/>

</ul>

<br/>

<iframe width="560" height="315" src="https://www.youtube.com/embed/xCkJTDyQl2U?rel=0" frameborder="0"
        allowfullscreen></iframe>
<br/><br/><br/><br/>
<br/><br/>
{% endblock %}