{% extends "video/video_index.html" %}
{% block videomain %}

<h2>ICCAP Demo</h2>

<h3>How to Model RF Passive Devices: Spiral Inductors</h3>
<hr>
<mark>by Franz Sischka, <a href="http://www.franz-sischka.de/" target="_blank">www.SisConsult.de</a></mark><br/><br/>

With increasing operating frequencies, the modeling of passive components becomes increasingly important, and there exist no ready-to-use models for inductors, resistors, capacitors etc.
<br/><br/>
Based on the other video of this fundamental device modeling series, (How to Model RF Capacitors and Resistors), this video extends the topic to modeling RF Spiral Inductors. It explains how to develop a Spice model based on verified S-Parameter measurements. Applying an easy to follow, step by step procedure, the video walks you through the entire modeling flow for on-wafer inductors, using the Keysight Measurement and Modeling Software IC-CAP.
<br/><br/>


<iframe width="560" height="315" src="https://www.youtube.com/embed/VY1xJORo1T0?rel=0" frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

<br/><br/><br/><br/>
<br/><br/>
{% endblock %}