{% extends "video/video_index.html" %}
{% block videomain %}

<h2>ICCAP Demo</h2>

<h3>How to Model a Bipolar Junction Transistor</h3>
<hr>
<mark>by Franz Sischka, <a href="http://www.franz-sischka.de/" target="_blank">www.SisConsult.de</a></mark><br/><br/>

<font size="5">T</font>his video covers the basics of bipolar junction transistor (BJT) modeling and illustrates an easy step-by-step procedure to extract the model parameters of the popular Gummel-Poon (GP) model. While the GP model was introduced in the early 1970’s, it still enjoys a wide popularity in electronic device modeling and many modeling engineers consider it a classic and an excellent starting point for getting familiar with modeling in general.
<br/><br/>


<iframe width="560" height="315" src="https://www.youtube.com/embed/UEqf0vDhlcw?rel=0" frameborder="0"
        allowfullscreen></iframe>
<br/><br/><br/><br/>
<br/><br/>
{% endblock %}