{% extends "video/video_index.html" %}
{% block videomain %}

<h2>MBP FAQ</h2>

<h3>Export Graphs or Views</h3>
<hr>
It would be handy if we could dump the plots into a PDF file, and Yes, MBP has the flexible reporting function.<br/>
<br/>
As an example, we will show how to export the current view into a PDF file, which has different IV and IMV plots.
<br/><br/>

<iframe width="560" height="315" src="https://www.youtube.com/embed/peDe-dhjFXQ?rel=0" frameborder="0"
        allowfullscreen></iframe>
<br/><br/><br/><br/>

{% endblock %}