{% extends "video/video_index.html" %}
{% block videomain %}

<h2>MBP Application</h2>

<h3>Apply different Drain parasitic resistors to DUTs</h3>
<hr>
Taking subckt approach, this video shows how to specify different parasitic, such as drain parasitic resistors for different
DUTs, yet essentially the DUTs use the same MOSFET model for simulation.
<br/><br/>
<img src="/static/video/diff_drain_res/1.png" alt=""><br/>
<br/>


<iframe width="560" height="315" src="https://www.youtube.com/embed/_KJmfNDL7Z0" frameborder="0" allowfullscreen></iframe>
<br/><br/><br/><br/>

{% endblock %}