{% extends "video/video_index.html" %}
{% block videomain %}

<h2>MBP FAQ</h2>

<h3>MBP RMS Algorithms</h3>
<hr>
Well, there are a bunch of RMS algorithms we can use, please go to the RMS options,
here various rms equations are listed, please pay attention to the Resolution and cutoff value for different targets.
<br/><br/>

<iframe width="560" height="315" src="https://www.youtube.com/embed/rDNUot-a41M" frameborder="0"
        allowfullscreen></iframe>
<br/><br/>
Resolution is like a filter, any point’s measurement value smaller than the resolution will be excluded from the calculate,
and Cutoff is used in the denominator of those RMS equations.

<br/><br/><br/><br/>

{% endblock %}