{% extends "video/video_index.html" %}
{% block videomain %}

<h2>MBP FAQ</h2>

<h3>Set Significant Digits and Symbol Size</h3>
<hr>
By default, MBP’s default display precision may not good enough, and we want to see more significant digits.<br/><br/>
Please go to GUI options, plot details, where we can increase the display precision number.<br/><br/>
BTW, we can change the symbol size too, this may make our plot look prettier. :D
<br/><br/>

<iframe width="560" height="315" src="https://www.youtube.com/embed/0t64OAcsdy8?rel=0" frameborder="0" allowfullscreen></iframe>

<br/><br/><br/><br/>

{% endblock %}