{% extends "video/video_index.html" %}
{% block videomain %}

<h2>MBP Demo</h2>

<h3>Define Ion Ioff Correlation Graphs</h3>
<hr>
In this tutorial, we will create correlation plot in MBP through IMV setup.<br/><br/>
For example, Ioff vs Ion, and, in most cases, people would also like to see Ioff and Ion both be normalized by W.
The techniques used here can be applied to create many other correlation plots, such as Vtsat vs Vtlin, etc.


<br/><br/>

<iframe width="560" height="315" src="https://www.youtube.com/embed/fgfTcGPeCGM" frameborder="0" allowfullscreen></iframe>


<br/><br/><br/><br/>

{% endblock %}