{% extends "video/video_index.html" %}
{% block videomain %}


<h2>MBP Demo</h2>
<h3>SRAM Modeling Intro and Live Demo</h3>
<hr/>

This video begins with a 5 minutes introduction where we discuss the concept of SRAM cell modeling, the major
challenges of the SRAM cell modeling process are highlighted and addressed, such as:<br/>
<ul>
    <li>be capable of handling the SRAM cell macro model that consists of multiple core NMOS and PMOS devices</li>
    <li>allow user to tune model parameters at both the SRAM and transistor levels.</li>
    <li>view figures of merit at both SRAM and transistor levels</li>
    <li>compare two SRAM macro models from foundry to foundry, or version to version.</li>
</ul>

Followed by another 5 minutes in-depth live demo that illustrates how easy MBP 2017 is to use and how it can save
you time.
<br/><br/>

<iframe width="560" height="315" src="https://www.youtube.com/embed/t5G1FDy1rgA?rel=0" frameborder="0"
        allowfullscreen></iframe>
<br/><br/>

<br/><br/><br/><br/><br/><br/><br/>


{% endblock %}