{% extends "video/video_index.html" %}
{% block videomain %}

<h2>MQA Application</h2>

<h3>NP Correlation + Monte Carlo</h3>
<hr>

In this 2-minute video tutorial, we will walk you through a how to setup an NP correlation and Monte Carlo simulation project using TT/SS/FF/SF/FS and statistical corners in a model library.
<br/><br/>
The demo rule package and example model can be <a href="/video/mqa_np_mc/download" target="_blank">downloaded here</a>.
<br/><br/>




<iframe width="560" height="315" src="https://www.youtube.com/embed/GFasYh0sSVM" frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>


<br/>
This video has no audio.
<br/><br/><br/>
Thank you!
<br/><br/>


{% endblock %}