{% extends "video/video_index.html" %}
{% block videomain %}

<h2>MQA Application</h2>

<h3>Check netlist and simulator output files</h3>
<hr>

In this demo we will see how and where we can save netlist files auto created by MQA.
<br/><br/>
Most errors associated with simulation can be fixed by looking at the netlist files and simulator’s output files,
they will give us clues for further debugging.
<br/><br/>
<iframe width="560" height="315" src="https://www.youtube.com/embed/xQXM68NOVtg" frameborder="0"
        allowfullscreen></iframe>


<br/><br/><br/><br/>

{% endblock %}