{% extends "video/video_index.html" %}
{% block videomain %}

<h2>MQA Application</h2>

<h3>MQA NearVth Function</h3>
<hr>

This demo introduces the NearVth Calculation function in MQA, There are 4 function under this topic:<br/><br/>
<ul>
    <ol>1. Gm_NearVth</ol>
    <ol>2. Rout_NearVth</ol>
    <ol>3. Slope_NearVth</ol>
    <ol>4. Ids_NearVth</ol>
</ul>


<br/><br/>
<iframe width="560" height="315" src="https://www.youtube.com/embed/mFGOSwsZGuY" frameborder="0"
        allowfullscreen></iframe>
<br/><br/>
There are a few options to use to adjust the flavor, as follows:<br/><br/>
<ul>
    <ol>1. Give an Vth offset to Vg</ol>
    <ol>2. Specify Vbs and Vds bias condtions when calculating Vth,</ol>
    <ol>3. Specify whether to use Vth_con or Vth_gm algorithm to calculate Vt.</ol>
</ul>


<br/><br/><br/><br/>

{% endblock %}