{% extends "video/video_index.html" %}
{% block videomain %}

<h2>MQA Application</h2>

<h3>Comparison between different versions of the same Simulator</h3>
<hr>

In this video, we will see how to setup MQA to compare models using the same simulator but with different versions.<br/>
<br/>
This application has become practical, number one,  since we have accumulated so many simulator versions as time goes by,
we have to make sure the consistency; number two, what if our designers or customers are using different versions,
it’s not likely we would twist one’s arm to use certain version.
<br/><br/>So, MQA is here to bring us the peace of mind, and actually it can mix any simulator of any versions.<br/>
<br/>
In particular, this demo uses ADS 2014 and ADS 2015.

<br/><br/>
<iframe width="560" height="315" src="https://www.youtube.com/embed/AiqcNDkRlFI?rel=0" frameborder="0"
        allowfullscreen></iframe>


<br/><br/><br/><br/>

{% endblock %}