{% extends "video/video_index.html" %}
{% block videomain %}

<h2>MQA Application</h2>

<h3>ASM-HEMT comprehensive model QA</h3>
<hr>

    In this 5-minute video tutorial, we will walk you through a comprehensive ASM-HEMT model QA using MQA 2019 udpate 0.2 and up.
    <br/><br/>
    The demo rule package and example model can be <a href="/video/mqa_asm-hemt/download" target="_blank">downloaded here</a>.
    <br/><br/>
    This demo covers the following aspects:
    <ul>
        <li>DC/CV</li>
        <li>S-Parameter</li>
        <li>Harmonic Balance</li>
        <li>Load-pull analysis</li>
        <li>M factor check</li>
        <li>DC measurement and model accuracy check</li>
    </ul>

    <br/><br/>

<iframe width="560" height="315" src="https://www.youtube.com/embed/MZefh26VMfg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>


    <br/><br/><br/><br/>
Thank you!
<br/><br/><br/><br/>
<br/><br/><br/><br/>

{% endblock %}