{% extends "video/video_index.html" %}
{% block videomain %}

<h2>MQA Application</h2>

<h3>HSPICE vs. SPECTRE model libraries</h3>
<hr>

    In this video tutorial, we will see how MQA easily compares models of different simulator formats,
    this application is driven by the fact that most PDKs are shipping models in various simulator formats, such as ADS,
    Spectre, HSPICE, ELDO, etc.
    <br/><br/>
    And we will show you that using MQA one can actually freely mix and compare any 2 simulators, or more.
    <br/><br/>
    In particular, this demo shows an HSPICE vs SPECTRE simulation.
    <br/><br/>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/3CjVsyXmxmQ" frameborder="0"
            allowfullscreen></iframe>


    <br/><br/><br/><br/>

{% endblock %}