<h3>Contents</h3>

<div>

    Chap 1. MBP Script Basics
    <ul style="list-style: none;">
        <li><a href="/mbpst/chap1.1">1. What is MBP Script</a></li>
        <li><a href="/mbpst/chap1.2">2. Get Started</a></li>
    </ul>

    Chap 2. MBP Script Applications
        <ul style="list-style: none;">
            <li>2.1 IMV
                <ul style="list-style: none;">
                    <li><a href="/mbpst/chap2.1.1">1. IMV Targets</a></li>
                    <li><a href="/mbpst/chap2.1.2">2. IMV Plots</a></li>
                    <li><a href="/mbpst/chap2.1.3">3. IMV Constant</a></li>
                </ul>
            </li>
            <li><a href="/mbpst/chap2.2">2.2 DP (Device Parameter)</a></li>
            <li>2.3 Flow
                <ul style="list-style: none;">
                    <li><a href="/mbpst/chap2.3.1">1. How Flow Works</a></li>
                    <li><a href="/mbpst/chap2.3.2">2. Define a New Flow</a></li>
                </ul>
            </li>
            <li>2.4 GUI
                <ul style="list-style: none;">
                    <li>1. Define a GUI item</li>
                </ul>
            </li>
        </ul>

    Chap 3. More Examples
        <ul style="list-style: none;">

            <li><a href="/mbpst/chap3.1">1. Define Ideff</a></li>
            <li><a href="/mbpst/chap3.2">2. Define Vth</a></li>
            <li><a href="/mbpst/chap3.3">3. Define Gm Near Vth</a></li>
            <li><a href="/mbpst/chap3.4">4. Select DATA with Conditions</a></li>
            <li><a href="/mbpst/chap3.5">5. Define a Target With
                T=25 as Reference</a></li>
            <li><a href="/mbpst/chap3.6">6. DATA Transformation</a></li>
            <li><a href="/mbpst/chap3.7">7. Synchronize SA and SB on
                Plot</a></li>
            <li><a href="/mbpst/chap3.8">8. Display Target on the
                Right Y Axis</a></li>
            <li><a href="/mbpst/chap3.9">9. Idsat Normalized to
                Max SA SB</a></li>
            <li><a href="/mbpst/chap3.10">10. Vth_con for FinFET</a></li>
            <li><a href="/mbpst/chap3.11">11. Auto-run Script When
                Loading a Project</a></li>
            <li><a href="/mbpst/chap3.12">12. Run Optimization in Script</a></li>
            <li><a href="/mbpst/chap3.13">13. Arrange plots by script</a></li>
            <li><a href="/mbpst/chap3.14">14. Copy an IMV to Another
                Project</a></li>
            <li><a href="/mbpst/chap3.15">15. Call Func From
                Another Script File</a></li>
            <li><a href="/mbpst/chap3.16">16. Read Write Files in Script</a></li>
            <li><a href="/mbpst/chap3.17">17. Hide Columns in Data Table</a></li>
            <li><a href="/mbpst/chap3.18">18. Access Simulation</a></li>
            <li><a href="/mbpst/chap3.19">19. 1/f Noise - Sid/Id^2</a></li>
            <li><a href="/mbpst/chap3.20">20. Data Sparseness</a></li>
            <li><a href="/mbpst/chap3.21">21. Region Selection</a></li>
            <li><a href="/mbpst/chap3.22">22. Time Tasks in Flow</a></li>
            <li><a href="/mbpst/chap3.23">23. Global Variables</a></li>
            <li><a href="/mbpst/chap3.24">24. Vth_gm Algorithm</a></li>

        </ul>

    Chap 4. Debugging
        <ul style="list-style: none;">

            <li><a href="/mbpst/chap4.1">1. Simple Debugging</a></li>
            <li><a href="/mbpst/chap4.2">2. Advanced Debugging</a></li>


        </ul>

    Chap 5. Appendix
        <ul style="list-style: none;">
            <li><a href="/mbpst/chap5.1">5.1 Bulit-in Java
                Algorithm</a></li>
            <li><a href="/mbpst/chap5.2">5.2 Script APIs</a>
            </li>

        </ul>


</div>

<br/><br/><br/><br/><br/>