{% extends "layouts/mf.html" %}
{% block title%}
BSIM4 Modeling
{% endblock %}

{% block content %}

<div class="container">
    <h3>How to Extract a BSIM4 DC Model</h3>
    <h5>by Long Ma, June 26, 2017.</h5>
    <hr>
    <div align="left">
        <a href="http://www.keysight.com/find/mytrial.mbp.blg" target="_blank">
            <img src="/static/blog/Apply+for+a+free+trial.jpg"/></a><br/></div>
    <br/>

    Keysight Official version from <a href="https://www.youtube.com/watch?v=yN38A_ym8ZI&t=289s" target="_blank">Keysight
    EESof EDA Youtube Channel</a> :<br/>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/yN38A_ym8ZI" frameborder="0"
            allowfullscreen></iframe>
    <br/><br/>
    This video introduces a general DC modeling and characterization flow for the BSIM4 model, which is one of the most
    popular models used by the industry today for bulk CMOS. Besides the step-by-step procedure to extract the model
    parameters, we’ll also look at how to increase productivity by introducing utilities and scripting functions in
    Model Builder Program (MBP) to automate the process.
    <hr/>

    <br/><br/>
    <hr/>
    Information on MBP 2017, is available at
    <a href="http://www.keysight.com/en/pd-2804700/mbp-2017?nid=-32892.1209899.00&cc=US&lc=eng&cmpid=zzfindeesof-mbp2017"
       target="_blank">www.keysight.com/find/eesof-mbp2017</a> <br/>
    To apply for a free software trial, go to <a
        href="http://www.keysight.com/find/mytrial.mbp.blg"
        target="_blank">www.keysight.com/find/mytrial.mbp.blg</a> .

    <br/><br/><br/><br/><br/><br/><br/>
</div>

{% endblock %}