{% extends "layouts/mf.html" %}
{% block title%}
SRAM Modeling
{% endblock %}

{% block content %}

<div class="container">
    <h3>SRAM Cell Modeling Solution using MBP 2017</h3>
    <h5>by Shuang Cai, June 6, 2017.</h5>
    <hr>
    <div align="left">
        <a href="http://www.keysight.com/find/mytrial.mbp.blg" target="_blank">
            <img src="/static/blog/Apply+for+a+free+trial.jpg"/></a><br/></div>
    <br/>

    Keysight Official version from <a href="https://www.youtube.com/watch?v=t5G1FDy1rgA&t=534s" target="_blank">Keysight EESof EDA Youtube Channel</a> :<br/>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/t5G1FDy1rgA" frameborder="0" allowfullscreen></iframe>
    <br/><br/>

    <hr/>

    This is a 5 minutes introduction where we discuss the concept of SRAM cell modeling, the major
    challenges of the SRAM cell modeling process are highlighted and addressed, such as:<br/>
    <ul>
        <li>be capable of handling the SRAM cell macro model that consists of multiple core NMOS and PMOS devices</li>
        <li>allow user to tune model parameters at both the SRAM and transistor levels.</li>
        <li>view figures of merit at both SRAM and transistor levels</li>
        <li>compare two SRAM macro models from foundry to foundry, or version to version.</li>
    </ul>

    Followed by an in-depth live demo that illustrates how easy MBP 2017 is to use and how it can save you time.
    <br/>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/uyxSvHZ9lTQ" frameborder="0"
            allowfullscreen></iframe>
    <br/><br/><br/>
    Find out how MBP reduces the SRAM cell modeling time from days down to hours, here is the live demo part, for folks
    who'd like to dive into the usage directly.<br/>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/R4wUHweW-B4" frameborder="0"
            allowfullscreen></iframe>
    <br/><br/>
    <hr/>
    Information on MBP 2017, is available at
    <a href="http://www.keysight.com/en/pd-2804700/mbp-2017?nid=-32892.1209899.00&cc=US&lc=eng&cmpid=zzfindeesof-mbp2017"
       target="_blank">www.keysight.com/find/eesof-mbp2017</a> <br/>
    To apply for a free software trial, go to <a
        href="http://www.keysight.com/find/mytrial.mbp.blg"
        target="_blank">www.keysight.com/find/mytrial.mbp.blg</a> .

    <br/><br/><br/><br/><br/><br/><br/>
</div>

{% endblock %}