{% extends "layouts/mf.html" %}
{% block title%}
DM Services
{% endblock %}

{% block content %}

<div class="container">
    <h3>Why Device Modeling Services</h3>
    <h5>by Raj Sodhi on Feb 3, 2017 -- <a
            href="https://community.keysight.com/community/keysight-blogs/eesof-eda/blog/2017/02/03/why-device-modeling-services"
            target="_blank">Original Post</a></h5>
    <hr>
    <div align="right">
        <a href="http://www.keysight.com/main/contactInformation.jspx?nid=-32901.0.00&lc=eng&cc=US&pageMode=PSE"
           target="_blank">
            <img src="/static/blog/contact+an+expert.png"/></a><br/></div>

    IC design stands on the shoulders of device modeling and characterization. The semiconductor industry depends on
    fast and accurate device models as circuits are pushed to higher frequencies, device geometries are becoming ever
    smaller with ever higher chip device count. Without adequate models, IC designers cannot accurately simulate their
    circuits, leading to poor circuit performance on the lab bench. At larger companies like Intel and Analog Devices,
    entire groups are devoted to device characterization and model extraction, dealing with mountains of data, as
    semiconductor processes are fine-tuned.
    <br/><br/>
    <em>Device modeling is a significant challenge, requiring combined expertise in disparate areas:</em>
    <ul>
        <li>low leakage DC measurements with pA accuracy</li>
        <li>highly sensiti
        <li>ve RF measurements to 100 GHz and beyond</li>
        <li>wafer probing methodologies – RF, DC, probe card, etc.</li>
        <li>the latest advances in device models – BSIMCMG, HiSIM_HV, etc.</li>
        <li>model extractions using IC-CAP or Model Builder Program</li>
        <li>guaranteeing that model will simulate OK on all simulation platforms</li>
        <li>designing on-wafer test structures to expose process parameters</li>
        <li>understanding and modeling the variation of device parameters within a process and across the wafer</li>
        <li>measuring and predicting device reliability</li>
        <li>refining model libraries provided by foundries</li>
        <li>comparing devices from different foundries using existing models</li>
        <li>measurement automation software and data handling</li>
    </ul>

    Especially in fast-moving areas of the semiconductor industry, like mobile phone development, IoT or automotive
    circuits, time-to-market is critical. More and more, companies are requiring customer delivery of first prototypes
    from the first round of silicon, especially considering the fact that a mask run can cost more than $300,000. What
    does this mean for modeling and characterization groups? Their role is critical. Trying out a model that is not very
    well understood and taking extra months to get it right can mean losing an entire market window. To deliver today’s
    product successfully, we need the peace of mind that is accompanied with a solid validation of device models across
    temperature, process variation, etc.
    <br/><br/>
    <img src="/static/blog/why_dm_services/serv.jpg" alt=""><br/><br/>

    <em>A typical device modeling and characterization lab has the following:</em>
    <ul>
        <li>Skilled model extraction engineers</li>
        <li>Skilled test engineers</li>
        <li>Probing systems with appropriate probes for both RF and DC testing</li>
        <li>test equipment with cables and accessories</li>
        <li>software to drive measurements and analysis</li>
        <li>software for model extraction and model quality analysis</li>

    </ul>

    Getting anyone these wrong will cost your team millions of dollars. Fortunately, we at Keysight Technologies
    understand all these concerns and have assisted numerous large companies to navigate these waters, providing device
    modeling services for advanced devices based on a long history of working with RF & Microwave and device modeling
    technologies. Keysight not only supports state-of-the-art device models such as BSIM6, BSIM-CMG, and BSIM-IMG but
    also provides modeling services for our own models such as the DynaFET model.

    <br/><br/>

    Contact Keysight for your upcoming device modeling needs.
    <br/><br/>
    <a href="http://www.keysight.com/main/contactInformation.jspx?nid=-32901.0.00&lc=eng&cc=US&pageMode=PSE"
       target="_blank">
        <img src="/static/blog/contact+an+expert.png"/></a>
    <br/><br/><br/><br/>
</div>

{% endblock %}