{% extends "layouts/mf.html" %}

{% block title %}
MQA App Notes
{% endblock %}

{% block content %}

<div class="container">
    <h3>MQA Application Notes</h3>
    <hr>
    <div overflow="scroll">

        <ul>
            <h4><a href="/mqarules" target="_blank">MQA Rules</a></h4>
            <hr/>
            <h4><a href="/mqafaq" target="_blank"> MQA FAQs</a></h4>
            <hr/>
            <h4><a href="/video/mqa-asm-hemt" target="_blank"> Video Tutorials</a></h4>
            <hr/>
            <h4><a href="/mqa/ppp/1" target="_blank">Python PostProcess</a></h4>
            <hr/>

            <h4><a href="/pyrfs" target="_blank">PyRFS - Python Reporting</a></h4>
        </ul>

        <br>
        <br>

        <br>

        <br>
        <br>
        <br>

        <br> <br>
        <br>

        <br>

        <br>
        <br>
        <br>

        <br>


        <br>

    </div>

</div>
{% endblock %}