{% extends "layouts/mf.html" %}

{% block title %}
ICCAP App Notes
{% endblock %}

{% block content %}


<div class="container">

        <div style="float:left; width: 20%; height:1500px; margin-right:5px; overflow:auto; border-right-width:1px;border-right-style:solid; border-right-color: #D3D3D3">
            {% include 'iccap/toc.html' %}
        </div>
        <div style="float:center; height:1500px; overflow: auto">
            <br/>
            {% block iccapmain%}

            {% endblock %}
            <br/><br/>
        </div>



</div>


{% endblock %}