{% extends "layouts/base.html" %}

{% block title %}
About
{% endblock %}

{% block content %}
<br/><br/><br/>
<div class="container">
    <br/>
    <h3>About this Site</h3>
    <hr/>

    This site aims to provide <font
        style="color:red">ADDITIONAL</font> application notes, best practice, and FAQs, etc material for Keysight
    end-to-end
    Device Modeling
    solution, including:
    <ul>
        <li>IC-CAP</li>
        <li>Model Builder Program(MBP)</li>
        <li>WaferPro | WaferPro Express</li>
        <li>Molidel Quality Assurance(MQA)</li>
        <li>Advanced Low Freq Noise Analyzer(A-LFNA)</li>
    </ul>
    Lots of items/functions explanations can be found in the software's user manual and will not be duplicated here.
    <br/><br/>

    All example files used in this website are from or created based on these products's example/demo folder.
    <br/><br/>
    All the materials provided in this website are solely from the good will for helping certificated/licensed Keysight
    users with their Device Modeling software application and usage; however, we are NOT responsible for any sort of
    work loss or
    failure from using them. Regular Save and Back-up your work are highly recommended.
    <br/><br/>
    Please still use Keysight formal channels for reporting bugs or new enhancements requests.
    <br/>
    However, you are welcome to discuss the usage of any of the Keysight Device Modeling software with us.
    <br/><br/>
    Thank you for choosing Keysight!
    <br/><br/>
    <h3>Main Contributors</h3>
    <hr/>
    <h4>Shuang Cai</h4>
    An active Keysight employee(14+ years), Device Modeling Application Engineer, based in San Jose, CA, USA.
    <br/>
    He has a lovely daughter and a son to deal with at most of his spare time, likes hiking, reading and writing.
    <br/><br/>
    <h4>Franz Sischka</h4>
    Founder of SisConsult(<a href="https://www.franz-sischka.de" target="_blank">https://www.franz-sischka.de</a>), and
    a distinguished device modeling expert formerly worked for HP/Agilent/Keysight.
    <br/>
    With more than 20 years experience as application engineer at HP/Agilent/Keysight in Germany, Franz has been
    supporting the IC-CAP device characterization and modeling software, and now SisConsult offers consulting services related
    to the following:
    <ul>
        <li>Electronic Device Measurement</li>
        <li>Data Verification</li>
        <li>Modeling</li>
    </ul>
    <br/>
    <br/><br/> <br/><br/><br/>

</div>
{% endblock %}