{% extends "layouts/base.html" %}

{% block title %}
Add User
{% endblock %}

{% block content %}
<br/><br/><br/><br/>

{% if email %}
<li>User already exists!</li>
{% endif %}
<div class="container">
<form method="post" action="/add_user">
    <label>Username:</label>
    <input id="username" name="username" type="text" class="form-control"/>
    <br/>
    <label>Email:</label>
    <input id="email" name="email" type="text" class="form-control"/>
    <br/>
    <label>Company:</label>
    <input id="company" name="company" type="text" class="form-control"/>
    <br/>
    <label>Password:</label>
    <input id="password" name="password" type="password" class="form-control"/>
    <br/>
    <br/>
    <label>Admin PWD:</label>
    <input id="admin" name="admin" type="password" class="form-control"/>

    <input type="submit">

</form>
</div>
<br/><br/><br/><br/>
{%for user in userList%}
<li>{{user.id}}.  {{user.username}} - {{user.email}}</li>
{% endfor %}

{% endblock %}