{% extends "layouts/base.html" %}

{% block title %}
Dashboard | Charts
{% endblock %}

{% block content %}
<br/><br/><br/>
<div class="container">
    <br/>
    <h3>Dashboard | Charts View</h3>

    <div>
        <embed type="image/svg+xml" src={{contents_graph|safe}} style="max-width:600px"/>
    </div>
    <hr/>

    <h3>View # by Category</h3>
    <div>
        <embed type="image/svg+xml" src={{countByCategory_graph|safe}} style="max-width:600px; "/>
    </div>

    <hr/>

    <h3>User View #</h3>
    <div>
        <embed type="image/svg+xml" src={{userView_graph|safe}} style="max-width:800px; "/>
    </div>

    <hr/>

    <h3>Top 30 Posts</h3>
    <div>
        <embed type="image/svg+xml" src={{topView_graph|safe}} style="max-width:800px; "/>
    </div>


    <br/><br/> <br/><br/><br/>

</div>
{% endblock %}