{% extends "layouts/base.html" %}

{% block title %}
T's n C's
{% endblock %}

{% block content %}
<br/><br/><br/>
<div class="container">
    <br/>
    <h3>Disclaimers</h3>
    <hr/>
    IC-CAP, WaferPro, WaferPro Express, MBP(Model Builder Program), MQA(Model Quality Assurance),
    A-LFNA(Advance Low Freq Noise Analyser), ADS(Advanced Design System) are product names and registered trademarks of
    <a href="http://www.keysight.com" target="_blank">Keysight Technologies</a>. IPs and Knowledge of how to use these
    software belong to Keysight Technologies.
    <br/><br/>
    HSPICE, FineSim are product names and registered trademarks of <a href="https://www.synopsys.com" target="_blank">SYNOPSYS</a>.

    <br/><br/>
    SPECTRE, RelXpert are product names and registered trademarks of <a href="https://www.cadence.com/" target="_blank">Cadence</a>.
    <br/><br/>
    All example files used in this website are from or created based on these products's example/demo folder.
    <br/> <br/>
    All the materials provided in this website are solely from the good will for helping certificated/licensed Keysight
    users with their Device Modeling software application and usage; however, we are NOT responsible for any sort of
    work loss or
    failure from using them. Regular Save and Back-up your work are highly recommended.

    <br/><br/>


    <h3>Privacy</h3>
    <hr/>
    This site may record your name, email, comments, browsing history, etc, and will only be used for improving Keysight
    Device Modeling
    solution and the experience of this website. By logging in and browsing this website, you agree with this privacy
    policy.

    <br/><br/>

    Thank you for choosing Keysight!
    <br/><br/> <br/><br/>
    <br/><br/><br/>

</div>
{% endblock %}