{% extends "layouts/base.html" %}

{% block title %}
Device Modeling Works
{% endblock %}

{% block content %}


<!-- Header -->
<a name="about"></a>
<div class="intro-header">
    <div class="container">

        <div class="row">
            <div class="col-lg-12">
                <div class="intro-message">
                    <h1>Device Modeling Works</h1>
                    <h3>Share, and Get the Job Done Easier</h3>
                    <hr class="intro-divider">
                    <ul class="list-inline intro-social-buttons">
                        <li>
                            <a href="/mbpst" class="btn btn-default btn-lg">MBP Script Tutorial</a>
                        </li>
                        <li>
                            <a href="/mqarules" class="btn btn-default btn-lg">MQA Rules</a>
                        </li>
                        <li>
                            <a href="/mbpfaq" class="btn btn-default btn-lg">FAQs</a>
                        </li>
                         <li>
                            <a href="/blog" class="btn btn-default btn-lg">Blog</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
    <!-- /.container -->

</div>
<!-- /.intro-header -->

<!-- Page Content -->

<a name="services"></a>
<div class="content-section-a">

    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-sm-6">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <h2 class="section-heading"><a href="/mbpst">MBP Script Tutorial</a></h2>
                <p class="lead">MBP specific APIs and high efficiency programming structures are introduced for making
                    Device Modeling work easier.
                    <font size="2">
                        <br/> + InterMediate Variables, such as Vth, Ideff
                        <br/> + Scaling Graphs
                        <br/> + Auto Extraction Flows
                        <br/> + Customized GUI
                    </font>
                </p>
            </div>
            <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                <img class="img-responsive" src="/static/img/mbpst.png" alt="">
            </div>
        </div>

    </div>
    <!-- /.container -->

</div>
<!-- /.content-section-a -->

<div class="content-section-b">

    <div class="container">

        <div class="row">
            <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <h2 class="section-heading"><a href="/mqarules">MQA Rules</a></h2>
                <p class="lead">MQA, where foundry SPICE model libraries benchmark and QA become a breeze.
                     <font size="2">
                        <br/> + Abundant Out-of-the-box MQA Rule Examples.
                        <br/> + Advanced and Automated Reporting

                    </font>


                </p>
            </div>
            <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                <img class="img-responsive" src="/static/img/mqa.png" alt="">
            </div>
        </div>

    </div>
    <!-- /.container -->

</div>
<!-- /.content-section-b -->

<div class="content-section-a">

    <div class="container">

        <div class="row">
            <div class="col-lg-5 col-sm-6">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <h2 class="section-heading"><a href="/mbpfaq">FAQs</a></h2>
                <p class="lead">Search for your MBP and MQA answers here, and contribute.</p>
            </div>
            <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                <img class="img-responsive" src="/static/img/faq.png" alt="">
            </div>
        </div>

    </div>
    <!-- /.container -->

</div>
{% endblock %}