{% extends "layouts/base.html" %}

{% block title %}
Search History
{% endblock %}

{% block content %}
<br/><br/><br/>
<div class="container">
    <br/>
    <h3>Recent 100 Search History</h3>
    <hr/>
    <table width="90%">
        <!--# search text 0, date 1, userName 2, company 3-->
        {% for p in sList %}

        <tr>
            <td>{{ p[0] }}</td>
            <td>{{ p[1] }}</td>
            <td>{{ p[2] }}</td>
            <td>{{ p[3] }}</td>

        </tr>
        {% endfor %}
    </table>

    <br/><br/> <br/>
</div>
{% endblock %}