{% extends "layouts/base.html" %}

{% block title %}
Request Login
{% endblock %}

{% block content %}
<br/><br/><br/>
<div class="container">


    <br/><br/>

    <h3>Request a login or forget password</h3>
    <hr/>
    The logins are created for licensed Keysight users only, please contact your local Keysight representative for a
    login, as well as for retrieving the password.

    <br/><br/>


    Thank you for choosing Keysight!
    <br/><br/> <br/><br/>
    <br/><br/><br/>

</div>
{% endblock %}