<table width="100%">
     <tr>
        <td width="15%">2017.03.08</td>
        <td>Now hosted on HTTPS(secured HTTP), please start to visit us at <a href="https://devicemodelingworks.net" target="_self"><font style="color:red">https</font>://DeviceModelingWorks.net</a> </td>
    </tr>
    <tr>
        <td width="15%">2017.03.02</td>
        <td>Add a blog: Why Device Modeling Services.</td>
    </tr>
    <tr>
        <td width="15%">2017.03.02</td>
        <td>Add a blog: What are Ft and Fmax of a transistor? and How to Extract Them.</td>
    </tr>
    <tr>
        <td width="15%">2017.03.01</td>
        <td>Open Blog to public, everyone can view blog articles without login.</td>
    </tr>
    <tr>
        <td width="15%">2017.02.27</td>
        <td>Add MQA rule examples for Mismatch simulation | MOS | Hspice and Spectre.</td>
    </tr>
    <tr>
        <td width="15%">2017.02.27</td>
        <td>Add a MQA FAQ about 'redefinedparams' error during Spectre simulation.</td>
    </tr>
    <tr>
        <td width="15%">2017.02.23</td>
        <td>Add a MBP video demo to create Ion Ioff correlation graphs.</td>
    </tr>
    <tr>
        <td width="15%">2017.02.23</td>
        <td>Add a MQA rule example for Ideff, Idhigh, Idlow.</td>

    </tr>
    <tr>
        <td width="15%">2017.02.22</td>
        <td>Add a MQA rule example for Idsat normalized by Idsat@Max(SA_SB).</td>

    </tr>
    <tr>
        <td width="15%">2017.02.21</td>
        <td>Add another MQA rule example for LOD effect where we have synchronized variables, SA_SB.</td>

    </tr>
    <tr>
        <td width="15%">2017.02.17</td>
        <td>Complete all the APIs explanation in MBP Script Tutorial Chap5.2.</td>

    </tr>
    <tr>
        <td width="15%">2017.02.14</td>
        <td>Add Script .zip files download links for all MBP Script Tutorial pages.</td>

    </tr>
    <tr>
        <td width="15%">2017.02.12</td>
        <td>Add example MQA rules download links.</td>

    </tr>
    <tr>
        <td width="15%">2017.02.10</td>
        <td>Add one MQA rule example for FDSOI device.</td>

    </tr>
    <tr>
        <td width="15%">2017.02.01</td>
        <td>Open MQA Rules, where additional MQA rule files are exampled and explained.</td>

    </tr>


    <tr>
        <td width="15%">2017.01.20</td>
        <td>Online!!! Open MBP Script Tutorial, Demo Vidoes, FAQs.</td>

    </tr>

</table>
