<table width="100%">
    <tr>
        <td width="15%">2018.01.08</td>
        <td>Add a MBP FAQ: <a href="/mbpfaq/javaoptions" target="_blank">Use _JAVA_OPTIONS to Assign Larger Java Memory</a>
        </td>
    </tr>
    <tr>
        <td width="15%">2018.01.08</td>
        <td>Add a MBP FAQ: <a href="/mbpfaq/meascond" target="_blank">Use MeasCond to Put Similar Sweeps into Different
            Groups</a>
        </td>
    </tr>
    <tr>
        <td width="15%">2017.12.08</td>
        <td>Add a MQA FAQ: <a href="/mqafaq/slope" target="_blank">Get the Slope from a Curve in MQA Rule</a>
        </td>
    </tr>
    <tr>
        <td width="15%">2017.11.27</td>
        <td>Add an ICCAP Blog: <a href="/blog/iccap_python_s_par" target="_blank">Use Python to process S Parameter in
            ICCAP</a>
        </td>
    </tr>
    <tr>
        <td width="15%">2017.11.08</td>
        <td>Add a MQA FAQ: <a href="/mqafaq/meas_misc1" target="_blank">QA with Measurement - Misc 1</a>
        </td>
    </tr>
    <tr>
        <td width="15%">2017.11.07</td>
        <td>Add a MQA FAQ: <a href="/mqafaq/meas4" target="_blank">QA with Measurement - 4/4</a>
        </td>
    </tr>

    <tr>
        <td width="15%">2017.11.07</td>
        <td>Add a MQA FAQ: <a href="/mqafaq/meas3" target="_blank">QA with Measurement - 3/4</a>
        </td>
    </tr>

    <tr>
        <td width="15%">2017.11.07</td>
        <td>Add a MQA FAQ: <a href="/mqafaq/meas2" target="_blank">QA with Measurement - 2/4</a>
        </td>
    </tr>
    <tr>
        <td width="15%">2017.11.07</td>
        <td>Add a MQA FAQ: <a href="/mqafaq/meas1" target="_blank">QA with Measurement - 1/4</a>
        </td>
    </tr>

    <tr>
        <td width="15%">2017.11.06</td>
        <td>Add a MQA FAQ: <a href="/mqafaq/instNameMapping" target="_blank">Device Instance Name Mapping</a>
        </td>
    </tr>

    <tr>
        <td width="15%">2017.10.30</td>
        <td>Add a MQA Rule: <a href="/mqarules/misHspMos_finfet" target="_blank">Mismatch Rule - FinFET - Hspice</a>
        </td>
    </tr>

    <tr>
        <td width="15%">2017.10.24</td>
        <td>Add a MQA Rule: <a href="/mqarules/crss_ciss_coss" target="_blank">Crss, Ciss, Coss for Power MOSFET</a>
        </td>
    </tr>
    <tr>
        <td width="15%">2017.10.23</td>
        <td>Add a MQA Rule: <a href="/mqarules/cxy" target="_blank">Explore Multi Capacitances of a Transistor</a>
        </td>
    </tr>

    <tr>
        <td width="15%">2017.10.20</td>
        <td>Add a MQA Rule: <a href="/mqarules/cgscgd" target="_blank">Cgs Cgd Continuity across Zero Vds</a>
        </td>
    </tr>
    <tr>
        <td width="15%">2017.10.18</td>
        <td>Add a Blog: <a href="/blog/iccap_ltspice" target="_blank">Link IC-CAP to the LTspice Simulator</a>
        </td>
    </tr>
    <tr>
        <td width="15%">2017.10.17</td>
        <td>Add a Blog: <a href="/blog/iccap_ext_simulators" target="_blank">Link the IC-CAP Modeling Tool to External
            Simulators</a>
        </td>
    </tr>
    <tr>
        <td width="15%">2017.10.04</td>
        <td>Add a MBP FAQ: <a href="/mbpfaq/site_die" target="_blank">Enable Die and Site Indices from Measurement</a>
        </td>
    </tr>
    <tr>
        <td width="15%">2017.10.02</td>
        <td>Add a MBP FAQ: <a href="/mbpfaq/unused_param" target="_blank">Turn on Unused Model Parameters</a>
        </td>
    </tr>
    <tr>
        <td width="15%">2017.09.27</td>
        <td>Add an ICCAP FAQ: <a href="/iccapfaq/link2pspice" target="_blank">Link ICCAP to PSpice Simulator</a>
        </td>
    </tr>
    <tr>
        <td width="15%">2017.09.27</td>
        <td>Add an ICCAP FAQ: <a href="/iccapfaq/link2spice3" target="_blank">Link ICCAP to Spice2, Spice3, HPSpice</a>
        </td>
    </tr>
    <tr>
        <td width="15%">2017.09.27</td>
        <td>Add an ICCAP FAQ: <a href="/iccapfaq/link2hspice" target="_blank">Link ICCAP to HSpice Simulator</a>
        </td>
    </tr>

    <tr>
        <td width="15%">2017.09.27</td>
        <td>Add an ICCAP FAQ: <a href="/iccapfaq/link2spectre" target="_blank">Link ICCAP to Spectre Simulator</a>
        </td>
    </tr>
    <tr>
        <td width="15%">2017.09.27</td>
        <td>Add an ICCAP FAQ: <a href="/iccapfaq/link2ads" target="_blank">Link ICCAP to ADS Simulator</a>
        </td>
    </tr>


    <tr>
        <td width="15%">2017.09.25</td>
        <td>Add a MQA Rule: <a href="/mqarules/dibl" target="_blank">DIBL Example Rule | FinFET</a>
        </td>
    </tr>
    <tr>
        <td width="15%">2017.09.25</td>
        <td>Add an ICCAP FAQ: <a href="/iccapfaq/link2ltspice" target="_blank">Link ICCAP to LTSpice</a>
        </td>
    </tr>
    <tr>
        <td width="15%">2017.09.24</td>
        <td>Add an ICCAP FAQ: <a href="/iccapfaq/link2ext" target="_blank">Link ICCAP to External Simulators in
            General</a>
        </td>
    </tr>
    <tr>
        <td width="15%">2017.09.15</td>
        <td>Add a MBP FAQ: <a href="/mbpfaq/weff_leff" target="_blank">Effective Channel Length and Width</a>
        </td>
    </tr>
    <tr>
        <td width="15%">2017.09.14</td>
        <td>Add a PyRFS Example: <a href="/pyrfs/chap2.d1" target="_blank">Format Numbers in Scientific Notation</a>
        </td>
    </tr>
    <tr>
        <td width="15%">2017.09.13</td>
        <td>Add a PyRFS Example: <a href="/pyrfs/chap2.c2" target="_blank">Multi-Sheets</a>
        </td>
    </tr>
    <tr>
        <td width="15%">2017.09.12</td>
        <td>Add a PyRFS Example: <a href="/pyrfs/chap2.c1" target="_blank">Multi-Tables</a>
        </td>
    </tr>
    <tr>
        <td width="15%">2017.09.08</td>
        <td>Add a PyRFS Example: <a href="/pyrfs/chap2.b7" target="_blank">Hide Columns</a>
        </td>
    </tr>
    <tr>
        <td width="15%">2017.09.07</td>
        <td>Enable Search Options, user can <font style="color:#8B0000">search by application category.</font>
        </td>
    </tr>
    <tr>
        <td width="15%">2017.09.05</td>
        <td>Add a MQA Rule: <a href="/mqarules/fn_spe_finfet" target="_blank">1/f Noise Rule Example | FinFET |
            Spectre</a>

        </td>
    </tr>
    <tr>
        <td width="15%">2017.09.01</td>
        <td>Add a MBP FAQ: <a href="/mbpfaq/script_subckt_param" target="_blank">Access Subckt Model Parameters in
            Script</a>

        </td>
    </tr>
    <tr>
        <td width="15%">2017.08.25</td>
        <td>Add a MBP FAQ: <a href="/mbpfaq/script_import_export" target="_blank">Partially Import/Export Script
            Settings </a>

        </td>
    </tr>

    <tr>
        <td width="15%">2017.08.25</td>
        <td>Add a PyRFS Example: <a href="/pyrfs/chap2.b6" target="_blank">Sid/Id^2 | Update Existing Excel Template</a>

        </td>
    </tr>
    <tr>
        <td width="15%">2017.08.25</td>
        <td>Add a Blog: <a href="/blog/mbp_extr_across_conditions" target="_blank">Extract Device Model Parameters
            Across Geometry, Temperature and Voltage</a>

        </td>
    </tr>

    <tr>
        <td width="15%">2017.08.24</td>
        <td>Add a PyRFS Example: <a href="/pyrfs/chap2.b5" target="_blank">Sid/Id^2 | Formula</a>

        </td>
    </tr>
    <tr>
        <td width="15%">2017.08.22</td>
        <td>Add a MBP FAQ: <a href="/mbpfaq/errorDataGrid" target="_blank">Display Vth, Idsat RMS on W/L/T/Vdd Grid</a>

        </td>
    </tr>

    <tr>
        <td width="15%">2017.08.14</td>
        <td>Add a MBP FAQ: <a href="/mbpfaq/vthscaling4sides" target="_blank">Vth Scaling Plots of 4 Sides on W/L
            Matrix</a>

        </td>
    </tr>

    <tr>
        <td width="15%">2017.08.13</td>
        <td>Add a MBP FAQ: <a href="/mbpfaq/addFlow2Menu" target="_blank">Display Customized Flow in MBP main GUI</a>

        </td>
    </tr>

    <tr>
        <td width="15%">2017.08.12</td>
        <td>Add a MBP FAQ: <a href="/mbpfaq/changeDefaultScript" target="_blank">Change BSIMCMG / BSIMIMG Model's
            Default Script Settings</a>

        </td>
    </tr>


    <tr>
        <td width="15%">2017.08.12</td>
        <td>Add a MQA rule: <a href="/mqarules/wpe" target="_blank">Well Proximity Effect Rule Example</a>

        </td>
    </tr>

    <tr>
        <td width="15%">2017.08.11</td>
        <td>Add a MQA FAQ: <a href="/mqafaq/TightLoopWithMeasData" target="_blank">Use Synchronized Instance Param
            Values from Meas for Simulation</a>

        </td>
    </tr>

    <tr>
        <td width="15%">2017.08.10</td>
        <td>Add a MQA rule: <a href="/mqarules/misR" target="_blank">Mismatch Rule for Resistor | Hspice</a>

        </td>
    </tr>


    <tr>
        <td width="15%">2017.08.09</td>
        <td>Add a MQA FAQ: <a href="/mqafaq/openoffice" target="_blank">Enable OpenOffice on Linux for Reporting</a>

        </td>
    </tr>


    <tr>
        <td width="15%">2017.08.04</td>
        <td>Add a MQA FAQ: <a href="/mqafaq/2port" target="_blank">How to Change 2-port Network Input and Output
            Ports</a>

        </td>
    </tr>

    <tr>
        <td width="15%">2017.07.28</td>
        <td>Add a MQA rule: <a href="/mqarules/symm" target="_blank">Symmetry Check up to 3rd-order
            Derivative</a>

        </td>
    </tr>

    <tr>
        <td width="15%">2017.07.08</td>
        <td>Add an ICCAP video: <a href="/video/iccap_bjt_modeling" target="_blank">How to Model a Bipolar Junction
            Transistor</a>
            | Gummel-Poon
        </td>
    </tr>

    <tr>
        <td width="15%">2017.07.07</td>
        <td>Add a blog: <a href="/blog/mqa_pyrfs" target="_blank">Customizing Tables Just Got Easier with a New Python
            Module for MQA </a>
        </td>
    </tr>

    <tr>
        <td width="15%">2017.07.05</td>
        <td>Add an ICCAP Video: <a href="/video/ICCAP_OPEN_GUI" target="_blank">How to Simplify Device Model Extraction
            using
            an Open Source User Interface</a>
        </td>
    </tr>
    <tr>
        <td width="15%">2017.06.29</td>
        <td><font style="color:red">PyRFS Tutorial Online!</font><a href="/pyrfs" target="_blank">The Python Module for
            MQA Table Customization</a>
        </td>
    </tr>

    <tr>
        <td width="15%">2017.06.26</td>
        <td>Add a blog: <a href="/blog/iccap_pyvisa_101" target="_blank">Extending the Power of IC-CAP Software with
            Python - PyVISA Instrument Control </a>
        </td>
    </tr>
    <tr>
        <td width="15%">2017.06.26</td>
        <td>Add a blog: <a href="/blog/mbp_bsim4_flow" target="_blank">How to Extract a BSIM4 DC Model</a> | Keysight
            Official version.
        </td>
    </tr>

    <tr>
        <td width="15%">2017.06.26</td>
        <td>Update a blog: <a href="/blog/mbp_sram" target="_blank">SRAM Cell Modeling Solution using MBP 2017</a> |
            Keysight Official version.
        </td>
    </tr>
    <tr>
        <td width="15%">2017.06.06</td>
        <td>Add a blog: <a href="/blog/mbp_sram" target="_blank">SRAM Cell Modeling Solution using MBP 2017</a> | <font
                style="color:red">Live Demo!</font>
        </td>
    </tr>


    <tr>
        <td width="15%">2017.05.26</td>
        <td>Add a blog: <a href="/blog/angelov_in_ads" target="_blank">Apply Angelov GaN Model Extracted by IC-CAP in
            ADS</a>
        </td>
    </tr>
    <tr>

    <tr>
        <td width="15%">2017.05.13</td>
        <td>Add a blog: <a href="/blog/sram_modeling_mbp2017" target="_blank">SRAM Cell Model Generation and Modeling
            Efficiency Take Center Stage in New Software Releases</a>
        </td>
    </tr>
    <tr>

    <tr>
        <td width="15%">2017.05.12</td>
        <td>Add a MQA FAQ: <a href="/mqafaq/internalspice3" target="_blank">Enable the Upgraded Internal Spice3 for
            MQA</a> | BSIM-CMG -IMG -BULK, etc.

        </td>
    </tr>
    <tr>
        <td width="15%">2017.05.09</td>
        <td>Add a MQA FAQ: <a href="/mqafaq/addPyrfs" target="_blank">Enable PyRFS for MQA</a> | Fully
            Customizable Table Generation using <font style="color:red">Python!</font>
        </td>
    </tr>

    <tr>
        <td width="15%">2017.05.08</td>
        <td>Add a MBP FAQ: <a href="/mbpfaq/addInstParam" target="_blank">Add Device Instance Parameters</a> | Exampled:
            W for BSIMCMG
        </td>
    </tr>
    <tr>
        <td width="15%">2017.05.04</td>
        <td><font color="red">May the 4th be with you~</font> Add a MBP FAQ: <a href="/mbpfaq/tinyNumbers"
                                                                                target="_blank">Display Tiny
            Numbers</a>
        </td>
    </tr>
    <tr>
        <td width="15%">2017.04.25</td>
        <td>Add an ICCAP FAQ: <a href="/iccapfaq/saveInstToMDM" target="_blank">Save DUT Parameters and Variables into
            MDM file</a>
        </td>
    </tr>
    <tr>
        <td width="15%">2017.04.07</td>
        <td>Add a MBP Video tutorial: <a href="/video/MBP_diff_res" target="_blank">Apply different Drain parasitic
            resistors to DUTs</a> using subckt approach
        </td>
    </tr>
    <tr>
        <td width="15%">2017.04.04</td>
        <td>Add a MBP FAQ: <a href="/mbpfaq/linefit" target="_blank">Linefit - Extract BSIM4 Parameter NFACTOR<sub>(Subthreshold
            Swing Coefficient)</sub></a>
        </td>
    </tr>
    <tr>
        <td width="15%">2017.03.29</td>
        <td>Add a MBP FAQ: <a href="/mbpfaq/derivative" target="_blank">How to do <i>derivative</i> in MBP Script</a>
        </td>
    </tr>
    <tr>
        <td width="15%">2017.03.29</td>
        <td>Update the blog: <a href="/blog/load_csv_in_mbp" target="_blank">How to load comma separated values(CSV)
            into MBP</a> to Handle More .csv Columns
        </td>
    </tr>
    <tr>
        <td width="15%">2017.03.28</td>
        <td>Add a blog: <a href="/blog/load_csv_in_mbp" target="_blank">How to load comma separated values(CSV) into
            MBP</a>
        </td>
    </tr>
    <tr>
        <td width="15%">2017.03.24</td>
        <td>Add a MBP Video tutorial: <a href="/video/MBP_IV_T" target="_blank">View IV curves across Temperatures</a>
        </td>
    </tr>
    <tr>
        <td width="15%">2017.03.23</td>
        <td>Add a MBP Video tutorial: <a href="/video/MBP_dIdsat_by_SA" target="_blank">delta-Idsat Normalized by Max
            SA/SB</a></td>
    </tr>
    <tr>
        <td width="15%">2017.03.17</td>
        <td>Add a blog: <a href="/blog/iccap_python" target="_blank"> Python<sup>TM</sup> Programming Integration with
            IC-CAP</a></td>
    </tr>
    <tr>
        <td width="15%">2017.03.08</td>
        <td>Now hosted on HTTPS(secured HTTP), please start to visit us at <a href="https://devicemodelingworks.net"
                                                                              target="_self"><font style="color:red">https</font>://DeviceModelingWorks.net</a>
        </td>
    </tr>
    <tr>
        <td width="15%">2017.03.02</td>
        <td>Add a blog: Why Device Modeling Services.</td>
    </tr>
    <tr>
        <td width="15%">2017.03.02</td>
        <td>Add a blog: What are Ft and Fmax of a transistor? and How to Extract Them.</td>
    </tr>
    <tr>
        <td width="15%">2017.03.01</td>
        <td>Open Blog to public, everyone can view blog articles without login.</td>
    </tr>
    <tr>
        <td width="15%">2017.02.27</td>
        <td>Add MQA rule examples for Mismatch simulation | MOS | Hspice and Spectre.</td>
    </tr>
    <tr>
        <td width="15%">2017.02.27</td>
        <td>Add a MQA FAQ about 'redefinedparams' error during Spectre simulation.</td>
    </tr>
    <tr>
        <td width="15%">2017.02.23</td>
        <td>Add a MBP video demo to create Ion Ioff correlation graphs.</td>
    </tr>
    <tr>
        <td width="15%">2017.02.23</td>
        <td>Add a MQA rule example for Ideff, Idhigh, Idlow.</td>

    </tr>
    <tr>
        <td width="15%">2017.02.22</td>
        <td>Add a MQA rule example for Idsat normalized by Idsat@Max(SA_SB).</td>

    </tr>
    <tr>
        <td width="15%">2017.02.21</td>
        <td>Add another MQA rule example for LOD effect where we have synchronized variables, SA_SB.</td>

    </tr>
    <tr>
        <td width="15%">2017.02.17</td>
        <td>Complete all the APIs explanation in MBP Script Tutorial Chap5.2.</td>

    </tr>
    <tr>
        <td width="15%">2017.02.14</td>
        <td>Add Script .zip files download links for all MBP Script Tutorial pages.</td>

    </tr>
    <tr>
        <td width="15%">2017.02.12</td>
        <td>Add example MQA rules download links.</td>

    </tr>
    <tr>
        <td width="15%">2017.02.10</td>
        <td>Add one MQA rule example for FDSOI device.</td>

    </tr>
    <tr>
        <td width="15%">2017.02.01</td>
        <td>Open MQA Rules, where additional MQA rule files are exampled and explained.</td>

    </tr>


    <tr>
        <td width="15%">2017.01.20</td>
        <td>Online!!! Open MBP Script Tutorial, Demo Vidoes, FAQs.</td>

    </tr>

</table>
