{% extends "layouts/base.html" %}

{% block title %}
View History
{% endblock %}

{% block content %}
<br/><br/><br/>
<div class="container">
    <br/>
    <h3>View History for {{ uname }}</h3>
    <hr/>
    <h3>By Category Over Time</h3>

    <div>
        <embed type="image/svg+xml" src={{userViewOverTime_graph|safe}} style="max-width:800px"/>
    </div>
    <hr/>
    <h3>By Category</h3>

    <div>
        <embed type="image/svg+xml" src={{userViewByCat_graph|safe}} style="max-width:600px"/>
    </div>
    <h3>By Post</h3>

    <hr/>
    <div>
        <embed type="image/svg+xml" src={{userView_graph|safe}} style="max-width:800px"/>
    </div>

    <hr/>

    <h4>Recent Views(up to 50)</h4>
    <table width="80%">
        <!--#title 0, route 1, date 2, category 3-->
        {% for p in viewList%}
        <tr>
            <td width="50%">
                <a href="{{p[1]}}" target="_blank"><font size="3">{{ p[0] }}</font></a></td>
            <td>{{ p[3] }}</td>
            <td>{{ p[2] }}</td>

        </tr>
        {% endfor %}
    </table>

    <hr/>

    <h3>Search History by {{ uname }}</h3>
    <hr/>
    <table>

        {% for p in searchList%}
        <tr>
            <td width="50%">
                <font size="3">{{ p[0] }}</font>
            </td>
            <td>{{ p[1] }}</td>
        </tr>


        {% endfor %}
    </table>

    <br/><br/> <br/><br/><br/>

</div>
{% endblock %}