{% extends "mbpst/mbpst_index.html" %}
{% block mbpstmain %}

	<h2>MBP Script APIs</h2>
	<hr>
	MBP Built-in Objects, they are case-sensitive.
	<ul>
		<li><a href="/mbpst/chap5.2.1">MBP</a></li>
		<li><a href="">MBPDATA</a></li>
		<li><a href="">MBPOPT</a></li>
		<li><a href="">MBPOPT.POPULATE_PARAM</a></li>
		<li><a href="">MBPRF</a></li>
		<li><a href="">MBPVAR</a></li>
		<li><a href="">Model</a></li>
		<li><a href="">Param</a></li>
		<li><a href="">DATA</a></li>
		<li><a href="">DataProvider</a></li>
		<li><a href="">Table</a></li>
		<li><a href="">Point</a></li>
		<li><a href="">PagePlot</a></li>
		<li><a href="">PageGroup</a></li>
		<li><a href="">PlotCurve</a></li>
		<li><a href="">GraphDataSource</a></li>
		<li><a href="">CMD</a></li>
		<li><a href="">CMD.VarTable</a></li>
		<li><a href="">STR</a></li>
		<li><a href="">ScriptDialog</a></li>
		<li><a href="">Math</a></li>
	</ul>


{% endblock %}