{% extends "mbpst/mbpst_index.html" %}
{% block mbpstmain %}

<h2>MBP Script APIs</h2>
<hr>
MBP Built-in Objects, they are case-sensitive.
<ul>
    <li><a href="/mbpst/chap5.2/MBP">MBP</a></li>
    <li><a href="/mbpst/chap5.2/MBPDATA">MBPDATA</a></li>
    <li><a href="/mbpst/chap5.2/MBPRF">MBPRF</a></li>
    <li><a href="/mbpst/chap5.2/MBPOPT">MBPOPT</a></li>
    <li><a href="/mbpst/chap5.2/MBPOPT.POPULATE_PARAM">MBPOPT.POPULATE_PARAM</a></li>
    <li><a href="/mbpst/chap5.2/MBPVAR">MBPVAR</a></li>
    <li><a href="/mbpst/chap5.2/Model">Model</a></li>
    <li><a href="/mbpst/chap5.2/Param">Param</a></li>
    <li><a href="/mbpst/chap5.2/DATA">DATA</a></li>
    <li><a href="/mbpst/chap5.2/TABLE">TABLE</a></li>
    <li><a href="/mbpst/chap5.2/POINT">POINT</a></li>
    <li><a href="/mbpst/chap5.2/DataProvider">DataProvider</a></li>
    <li><a href="/mbpst/chap5.2/PagePlot">PagePlot</a></li>
    <li><a href="/mbpst/chap5.2/PageGroup">PageGroup</a></li>
    <li><a href="/mbpst/chap5.2/PlotCurve">PlotCurve</a></li>
    <li><a href="/mbpst/chap5.2/GraphDataSource">GraphDataSource</a></li>
    <li><a href="/mbpst/chap5.2/CMD">CMD</a></li>
    <li><a href="/mbpst/chap5.2/CMD.VARTABLE">CMD.VARTABLE</a></li>
    <!--<li><a href="/mbpst/chap5.2/STR">STR</a></li>-->
    <li><a href="/mbpst/chap5.2/ScriptDialog">ScriptDialog</a></li>
    <li><a href="/mbpst/chap5.2/Math">Math</a></li>

</ul>


{% endblock %}