{% extends "mbpst/mbpst_index.html" %}
{% block mbpstmain %}

	<h2>MBP Built-in Java Algorithm</h2>
	<hr>
	<ul>
		<li><a href="#Current">acc/Current</a></li>
		<li><a href="#GetValueAtPoint">acc/GetValueAtPoint</a></li>
		<li><a href="#VTH_GM">acc/VTH_GM</a></li>
		<li><a href="#VTH_CON">acc/VTH_CON</a></li>
		<li><a href="#VTH_CON_LogId">acc/VTH_CON_LogId</a></li>
		<li><a href="#VTH_CONW">acc/VTH_CONW</a></li>
		<li><a href="#VTH_CONW_LogId">acc/VTH_CONW_LogId</a></li>
		<li><a href="#VTH_CON_ABS">acc/VTH_CON_ABS</a></li>
		<li><a href="#VTH_CON_XWXL">acc/VTH_CON_XWXL</a></li>
		<li><a href="#VTH_CON_LogId_XWXL">acc/VTH_CON_LogId_XWXL</a></li>
		<li><a href="#GMax">acc/GMax</a></li>
		<li><a href="#CurrentDivideW">acc/CurrentDivideW (deprecated)</a></li>
		<li><a href="#CurrentDivideWL">acc/CurrentDivideWL (deprecated)</a></li>
		<li><a href="#CurrentDivideWMultiplyL">acc/CurrentDivideWMultiplyL (deprecated)</a></li>
		<li><a href="#CurrentMultiplyL">acc/CurrentMultiplyL (deprecated)</a></li>
		<li><a href="#Derivative">acc/Derivative (deprecated)</a></li>
	</ul>
	<div>
		<div style="width: 75%">
			<h3>
				<a name="Current">acc/Current</a>
			</h3>
			<hr>

		</div>
		Simply return the output column from the Data. <br>For example, if the Data is holding
		Ids_Vgs_Vbs, then Ids will be returned. This is the base function to get targets like <b>Idlin,
			Idsat, Idhigh, Idlow</b>, etc. <br> <img src="/static/mbpst/Chap5/images/5.1/0.png"><br> <br>
		In essence, the logic of this algorithm is to return the output, which is not only just Current,
		but also could be any other types, for example, if the input Data(Page Name) is another IMV target
		say imv.imv.Idsat, then we can use acc/Current to return Idsat, because Idsat is the input Data's
		output column, see example <a href="../Chap3/DefineTargetWithT25.html">Chap 3.5</a>.
	</div>

	<div>
		<div style="width: 75%">
			<h3>
				<a name="GetValueAtPoint">acc/GetValueAtPoint</a>
			</h3>
			<hr>

		</div>
		Returns a value at a given point on the curve, the return is not limited to Current.<br>For
		example, to get a Gm near Vth_gm, we can attach Vth_gm and get the Gm based on a Vth_gm + deltaVg
		shift.<br> <img src="/static/mbpst/Chap5/images/5.1/1.png"> <br> The order of Algorithm
		Parameters field is: Y, X, X_value. Then the X_value is used to intercept the curve to get Y for
		return, if one wants to use a Y_Value to intercept the curve to get X for return, simply swap X
		and Y in the Algorithm Parameters field.<br> <br> Illustration:<br> <img
			src="/static/mbpst/Chap5/images/5.1/2.png"> <br> Note: we have to define <b>deltaVg</b> in the <b>imv_const</b>
		table, as shown below: <br> <img src="/static/mbpst/Chap5/images/5.1/3.png"> <br>Similarly,
		using the same approach, we could get things like:
		<ul>
			<li>Ids near Vth</li>
			<li>Gds near Vth</li>
			<li>Rout near Vth</li> And Vth can be anything else.
		</ul>
	</div>

	<div>
		<div style="width: 75%">
			<h3>
				<a name="VTH_GM">acc/VTH_GM</a>
			</h3>
			<hr>
		</div>
		The routine to calculate Vth_gm is as follows:<br>
		<ol>
			<li>Get derivative of Ids_Vgs curve, namely get Gm,</li>
			<li>Find max Gm, do a slope at that point from the Ids_Vgs curve, and mark the intercept of Vgs as Vth</li>
			<li>Determine the final returning Vth_gm by Vds:</li>
			<ol type="i">
				<li>if Vds<0.5, then Vth_gm=Vth - Vds/2</li>
				<li>if Vds>=0.5, Vth_gm=Vth</li>
			</ol>
		</ol>

		<br> <img src="/static/mbpst/Chap5/images/5.1/2.1.png"> <br>Illustration:<br> <img
			src="/static/mbpst/Chap5/images/5.1/2.2.png">
	</div>

	<div>
		<div style="width: 75%">
			<h3>
				<a name="VTH_CON">acc/VTH_CON</a>
			</h3>
			<hr>

		</div>
		The routine to calculate Vth_con is as follows:<br>
		<ol>
			<li>Calculate Iref = Icon*M*W/L</li>
			<li>Get Vth(Vg) with Iref from curve Ids_Vgs with linear interpolation.</li>
		</ol>
		<br> <img src="/static/mbpst/Chap5/images/5.1/3.1.png"> <br>Illustration:<br> <img
			src="/static/mbpst/Chap5/images/5.1/3.2.png">
	</div>
	<div>
		<div style="width: 75%">
			<h3>
				<a name="VTH_CON_LogId">acc/VTH_CON_LogId</a>
			</h3>
			<hr>

		</div>
		The routine to calculate Vth_con_logId is similar to Vth_con, except do Log(Ids).<br>
		<ol>
			<li>Calculate log(Iref) = log(Icon*M*W/L)</li>
			<li>Get Vth(Vg) with log(Iref) from curve log(Ids)_Vgs with linear interpolation.</li>
		</ol>
		<br> <img src="/static/mbpst/Chap5/images/5.1/4.1.png"> <br>Illustration:<br> <img
			src="/static/mbpst/Chap5/images/5.1/4.2.png">
	</div>
	<div>
		<div style="width: 75%">
			<h3>
				<a name="VTH_CONW">acc/VTH_CONW</a>
			</h3>
			<hr>

		</div>
		The routine to calculate Vth_con is as follows:<br>
		<ol>
			<li>Calculate Iref = Icon*M*W</li>
			<li>Get Vth(Vg) with Iref from curve Ids_Vgs with linear interpolation.</li>
		</ol>
		<br> <br>Illustration:<br> <img src="/static/mbpst/Chap5/images/5.1/5.2.png">
	</div>
	<div>
		<div style="width: 75%">
			<h3>
				<a name="VTH_CONW_LogId">acc/VTH_CONW_LogId</a>
			</h3>
			<hr>

		</div>
		The routine to calculate VTH_CONW_LogId is similar to VTH_CONW, except do Log(Ids):<br> <br>
		<br>Illustration:<br> <img src="/static/mbpst/Chap5/images/5.1/6.2.png">
	</div>
	<div>
		<div style="width: 75%">
			<h3>
				<a name="VTH_CON_ABS">acc/VTH_CON_ABS</a>
			</h3>
			<hr>

		</div>
		The routine to calculate Vth_con_abs is similar to Vth_con, it uses Icon as Iref directly. <br>Illustration:<br>
		<img src="/static/mbpst/Chap5/images/5.1/7.2.png">
	</div>
	<div>
		<div style="width: 75%">
			<h3>
				<a name="VTH_CON_XWXL">acc/VTH_CON_XWXL</a>
			</h3>
			<hr>

		</div>
		The routine to calculate Vth_con_abs is similar to Vth_con, plus considering deltaW(xW) and
		deltaL(xL) when calculating Iref. <br>
		<ol>
			<li>Calculate Iref = Icon*M*(W-xW)/(L-xL)</li>
			<li>Get Vth(Vg) with Iref from curve Ids_Vgs with linear interpolation.</li>
		</ol>
		<img src="/static/mbpst/Chap5/images/5.1/8.1.png"> Illustration:<br> <img
			src="/static/mbpst/Chap5/images/5.1/8.2.png"> <br>Note deltaL and deltaW must be defined in <b>imv_const</b>
		table, as shown below, they can be defaulted to 0.<br> <img src="/static/mbpst/Chap5/images/5.1/8.3.png">

	</div>
	<div>
		<div style="width: 75%">
			<h3>
				<a name="VTH_CON_LogId_XWXL">acc/VTH_CON_LogId_XWXL</a>
			</h3>
			<hr>

		</div>
		The routine to calculate VTH_CON_LogId_XWXL is similar to VTH_CON_XWXL, except do Log(Ids).<br>
		<img src="/static/mbpst/Chap5/images/5.1/9.1.png"> Illustration:<br> <img
			src="/static/mbpst/Chap5/images/5.1/9.2.png"> <br>Note deltaL and deltaW must be defined in <b>imv_const</b>
		table, as shown below, they can be defaulted to 0.<br> <img src="/static/mbpst/Chap5/images/5.1/8.3.png">
	</div>
	<div>
		<div style="width: 75%">
			<h3>
				<a name="GMax">acc/GMax</a>
			</h3>
			<hr>

		</div>
		This is to get the max Gm from Ids_Vgs curve.<br> <img src="/static/mbpst/Chap5/images/5.1/10.1.png">
		Illustration:<br> <img src="/static/mbpst/Chap5/images/5.1/10.2.png">
	</div>
	<div>
		<div style="width: 75%">
			<h3>
				<a name="CurrentDivideW">acc/CurrentDivideW (deprecated)</a>
			</h3>
			<hr>

		</div>
		This function is to return output= Current/W, because now MBP supports to write expression like
		"Ids/W" in all necessary places, we don't need this any more.
	</div>
	<div>
		<div style="width: 75%">
			<h3>
				<a name="CurrentDivideWL">acc/CurrentDivideWL (deprecated)</a>
			</h3>
			<hr>

		</div>
		See explanation for CurrentDivideW.
	</div>
	<div>
		<div style="width: 75%">
			<h3>
				<a name="CurrentDivideWMultiplyL">acc/CurrentDivideWMultiplyL (deprecated)</a>
			</h3>
			<hr>

		</div>
		See explanation for CurrentDivideW.
	</div>
	<div>
		<div style="width: 75%">
			<h3>
				<a name="CurrentMultiplyL">acc/CurrentMultiplyL (deprecated)</a>
			</h3>
			<hr>

		</div>
		See explanation for CurrentDivideW.
	</div>
	<div>
		<div style="width: 75%">
			<h3>
				<a name="Derivative">acc/Derivative (deprecated)</a>
			</h3>
			<hr>

		</div>

	</div>

{% endblock %}