{% extends "mbpst/mbpst_index.html" %}
{% block mbpstmain %}

<h2>Math APIs</h2>
<hr>

The Math object in MBP provides all standard math functions provided by Java, since they are pretty
well known and are well self-explained in the GUI, we won't further explain them here.
<br/><br/>
As shown below, we can find each Math function's explanation in the bottom half of the popup window during coding,
this window is triggered when we do "." (the dot operator) after Math.
<br/>
<img src="/static/mbpst/Chap5/images/5.2/math.png" border="1px">
<br/><br/>

Math functions and variables list:

<ul>
    <li>E</li>
    <li>PI</li>
    <li>abs</li>
    <li>sin</li>
    <li>cos</li>
    <li>tan</li>
    <li>atan2</li>
    <li>sqrt</li>
    <li>log</li>
    <li>log10</li>
    <li>pow</li>
    <li>exp</li>
    <li>min</li>
    <li>max</li>
    <li>scalb</li>
    <li>getExponent</li>
    <li>signum</li>
    <li>random</li>
    <li>IEEEreminder</li>
    <li>acos</li>
    <li>asin</li>
    <li>atan</li>
    <li>cbrt</li>
    <li>ceil</li>
    <li>copySign</li>
    <li>cosh</li>
    <li>expm1</li>
    <li>floor</li>
    <li>hypot</li>
    <li>log1p</li>
    <li>nextAfter</li>
    <li>nextUp</li>
    <li>rint</li>
    <li>round</li>
    <li>sinh</li>
    <li>tanh</li>
    <li>toDegrees</li>
    <li>toRadians</li>
    <li>ulp</li>

</ul>


{% endblock %}