{% extends "mbpst/mbpst_index.html" %}
{% block mbpstmain %}

	<h2>MBP APIs</h2>
	<hr>
	<b>MBP</b> provides built-in methods to access models and model parameters in MBP. There could be
	multiple models loaded in MBP at the same time; however, there is only one model called the "Main
	Model" at a given time, the model that's selected in the model panel currently.


<div style="width: 75%">
    <hr/>
    <h4>DATA m()</h4>
</div>
<table>
    <tr>
        <td>Description:</td>
        <td>Gets the simulation data.</td>

    </tr>
    <tr>
        <td>Example</td>
        <td>
                <pre>
DATA d = MBPDATA.get("ids_vgs_vbs");
d = d.s();

                </pre>
        </td>
    </tr>
</table>

{% endblock %}