{% extends "mbpst/mbpst_index.html" %}
{% block mbpstmain %}

<h2>POINT APIs</h2>
<hr>
POINT is a special format of DATA, generally a POINT can be regarded as one row of a DATA table.
All DATA API can be used in POINT.
<br/>
Here list all other functions that POINT has besides what it inherits from DATA.


<div style="width: 75%">
    <hr/>
    <h4>double[] getPropertyValues()</h4>
</div>
<table>
    <tr>
        <td>Description:</td>
        <td>Gets the property values.</td>

    </tr>
    <tr>
        <td>Example</td>
        <td>
                <pre>


                </pre>
        </td>
    </tr>
</table>

<div style="width: 75%">
    <hr/>
    <h4>double[] getInstValues()</h4>
</div>
<table>
    <tr>
        <td>Description:</td>
        <td>Gets the instance values.</td>

    </tr>
    <tr>
        <td>Example</td>
        <td>
                <pre>


                </pre>
        </td>
    </tr>
</table>

<div style="width: 75%">
    <hr/>
    <h4>double[] getBiasValues()</h4>
</div>
<table>
    <tr>
        <td>Description:</td>
        <td>Gets the bias  values.</td>

    </tr>
    <tr>
        <td>Example</td>
        <td>
                <pre>


                </pre>
        </td>
    </tr>
</table>

<div style="width: 75%">
    <hr/>
    <h4>double[] getValues(String[] names)</h4>
</div>
<table>
    <tr>
        <td>Description:</td>
        <td>Gets the values with "names".</td>

    </tr>
    <tr>
        <td>Example</td>
        <td>
                <pre>


                </pre>
        </td>
    </tr>
</table>
{% endblock %}