{% extends "mqarules/mqarules_index.html" %}
{% block title%}
Mismatch Rule - SPECTRE - MOS
{% endblock %}

{% block mqarulesmain %}

<h2>Mismatch Rule - MOS - SPECTRE</h2>
<h4>MQA Rules</h4>
<hr>
More background information about Mismatch can be found in the <a href="/mqarules/misHspMos" target="_blank">Hspice version of the rule</a> .

<br/><br/>

Mismatch_spe_mos.rule: <a href="/mqarules/mismatch_spe_mos/download" target="_blank">download</a>
<br/>
Due to the netlist in the [benchmark] section is written in SPECTRE format, which limits the rule to be used with SPECTRE only.
<pre>
[common]
appliedmodel = binning, global, macro
<font style="color:red">montecarlo=yes</font>

[Group:MISMATCHQA01:Title=Mismatch Model QA]

[Label:MISMATCHQA0101:title=Mismatch of dIdsat]
[Condition:1]
[Option:sweeptype=dc]
[Loops
: P1=Vgs
: X=L(start=g_lmin,stop=g_lmax,num=3)
: P=W(start=g_wmin,stop=g_wmax,num=3)
: P2=Vds(Vdd)
: P3=Vbs(0)
: P4=T(tnom)
: P5=Vgg(Vgg)
]
[Target
:Id1=i_vdprobe1
:Id2=i_vdprobe2
:dIdd=(Id1-Id2)/Id1
]
[Statistic:01:Mismatch:PrintStdDv(dIdd,"@YPercentScale=1"):error:data error]
[benchmark]

simulator lang=spectre
acctasp options temp=@T

vgswp    ( ext   0  ) vsource  dc=1.0
ruseless ( ext   0  ) resistor r=1.0

vds1     ( dext1 0  ) vsource  dc=@Vds
vdprobe1 ( dext1 d1 ) vsource  dc=0
vgs1     ( g1    0  ) (ext 0 ) pvcvs coeffs=[0 1 ]
vbs1     ( b1    0  ) vsource  dc=@Vbs

@@xx_MN1 ( d1 g1 0 b1) @@mm_LV_NMOS  L=@L W=@W


vds2     ( dext2 0  ) vsource  dc=@Vds
vdprobe2 ( dext2 d2 ) vsource  dc=0
vgs2     ( g2    0  ) (ext 0 ) pvcvs coeffs=[0 1 ]
vbs2     ( b2    0  ) vsource  dc=@Vbs

@@xx_MN2 ( d2 g2 0 b2) @@mm_LV_NMOS  L=@L W=@W

save vdprobe1:currents
save vdprobe2:currents

mc1 montecarlo variations=all numruns=@MonteCarloNum donominal=no \
savefamilyplots=yes {
 dc1 dc dev=vgswp param=dc  values=[@Vgg]
}

</pre>
<br>
<br>
<br>

{% endblock %}